<div class="row">
  <div class="content content-box col-md-9">
    <div oo-error-overlay></div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><span class="navbar-brand" translate>Abos</span>
        <form class="navbar-form pull-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{'Suche in Übersicht...'|translate}}" ng-model="search.query">
          </div>
        </form></h3>
      </div>
      <div class="panel-body">
        <div ng-hide="entries">
          <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
        </div>
        <div ng-show="entries" id="abosTable" display-export="true" export-file-name="Abos">
          <table ng-table="tableParams" class="table table-striped" show-filter="{{showFilter && hasData()}}" template-pagination="scripts/common/ngtable/oo-ngtable-paginationTemplate.html">
            <tr ng-repeat="abo in $data | filter: search.query.$">
              <td data-title="'Abotyp'|translate" sortable="'abo.abotypName'" filter="{name: 'select'}" filter-data="abotypL">
                <a ng-href="#/abotypen/{{abo.abotypId}}">{{abo.abotypName}}</a>
              </td>
              <td data-title="'Abonnentin'|translate" sortable="'abo.kunde'">
                <a ng-href="#/kunden/{{abo.kundeId}}">{{abo.kunde}}</a>
              </td>
              <td data-title="'Depot'|translate" sortable="'abo.depotName'">
                <a ng-href="#/depots/{{abo.depotId}}">{{abo.depotName}}</a>
              </td>
              <td>
                <a role="button" class="btn btn-sm btn-primary" ng-href="#/abos/{{abo.id}}"><span class="glyphicon glyphicon-edit"></span></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="context content-box col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Context Example</h3>
      </div>
      <div class="panel-body">
        Example
      </div>
    </div>
  </div>
</div>
