<div class="row">
  <div class="content content-box col-md-12">
    <div oo-error-overlay></div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><span class="navbar-brand" translate>Abos</span>
        <form class="navbar-form pull-right" role="search">
          <div class="form-group">
            <oo-overviewfilter-geschaeftsjahre selected-funct="selectedGeschaeftsjahr" select="geschaeftsjahr.jahr" disabled="search.complexFlags.zusatzAbosAktiv">
            </oo-overviewfilter-geschaeftsjahre>
            <span translate>Zusatzabos</span>
            <input bs-switch ng-model="search.complexFlags.zusatzAbosAktiv" type="checkbox" switch-size="medium" switch-animate="true" switch-on-text="{{'Aktive'|translate}}" switch-off-text="{{'Alle'|translate}}" switch-on-color="success" switch-off-color="warning" switch-radio-off="false" ng-true-value="true" ng-false-value="false">
            <input type="text" class="form-control" placeholder="{{'Suche in Übersicht...'|translate}}" ng-model="search.query">
            <oo-actions-button model="model" actions="actions"></oo-actions-button>
          </div>
        </form></h3>
      </div>
      <div class="panel-body">
        <div ng-hide="entries">
          <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
        </div>
        <script type="text/ng-template" id="headerCheckbox.html">
          <input type="checkbox" ng-model="checkboxes.checked" ng-class="checkboxes.css" value="" ng-change="updateChecked()" />
        </script>
        <script type="text/ng-template" id="headerShowAll.html">
          <i class="fa fa-eye" aria-hidden="true" ng-hide="showAll" style="cursor: pointer;" ng-click="toggleShowAll()" tooltip-placement="left" uib-tooltip="{{'Alle Spalten einblenden' | translate}}"></i>
          <i class="fa fa-eye-slash" aria-hidden="true" ng-show="showAll" style="cursor: pointer;" ng-click="toggleShowAll()" tooltip-placement="left" uib-tooltip="{{'Standardansicht' | translate}}"></i>
        </script>
        <div ng-show="entries" id="abosTable" display-export="true" export-file-name="Abos" class="horizontal-scroll">
          <table ng-table="tableParams" class="table table-striped abostable" show-filter="{{showFilter && hasData()}}" template-pagination="scripts/common/ngtable/oo-ngtable-paginationTemplate.html">
            <tr ng-repeat="abo in $data | filter: search.query.$" id="selectedRow_{{abo.id}}">
              <td header="'headerCheckbox.html'">
                <input type="checkbox" ng-model="checkboxes.items[abo.id]" ng-change="updateChecked()" />
              </td>
              <td data-title="'Nr.'|translate" sortable="'id'" filter="{id: 'text'}">
                <a ng-click="selectAbo(abo, 'selectedRow_' + abo.id)">{{abo.id}}&nbsp;<i class="fa fa-chevron-right"></i></a>
              </td>
              <td data-title="'Abotyp'|translate" sortable="'abotypName'" filter="{abotypId: 'select'}" filter-data="displayedAbotypen">
                {{abo.abotypName}} &nbsp; <a target="_blank" rel="noopener noreferrer" ng-href="#/abotypen/{{abo.abotypId}}"><i class="glyphicon small glyphicon-new-window"></i></a>
                &nbsp;
                <span ng-if="abo.zusatzAboIds.length > 0">
                  <span ng-repeat="(name, occ) in abo.zusatzAbotypNames | countOcc " class="badge">
                    <span ng-if="occ > 1">{{occ}}x </span>{{name|translate}}
                  </span>
                </span>
              </td>
              <td data-title="'Abonnentin'|translate" sortable="'kunde'">
                {{abo.kunde}} &nbsp;<a target="_blank" rel="noopener noreferrer" ng-click="navigateToKunde(abo.kundeId)" ng-href="#/kunden/{{abo.kundeId}}"><i class="glyphicon small glyphicon-new-window"></i></a>
              </td>
              <td data-title="'Start'|translate" sortable="'start'">
                {{abo.start | date:'dd.MM.yyyy'}}
              </td>
              <td data-title="'Ende'|translate" sortable="'ende'">
                {{abo.ende | date:'dd.MM.yyyy'}}
              </td>
              <td data-title="'Aktiv'|translate" sortable="'aktiv'" filter="{aktiv: 'boolean'}">
                <i ng-if="abo.aktiv" class="glyphicon glyphicon-ok"></i>
                <i ng-if="!abo.aktiv" class="glyphicon glyphicon-remove"></i>
              </td>
              <td data-title="'Abotyp / Vertrieb'|translate" sortable="'vertriebBeschrieb'" filter="{vertriebId: 'select'}" filter-data="vertriebL">
                 {{abo.abotypName}} / {{abo.vertriebBeschrieb}}
              </td>
              <td data-title="'Depot/Tour'|translate" sortable="'depotTourSortBy'" filter="{depotTourId: 'select'}" filter-data="depotTourL">
                <div ng-if="abo.depotId">{{abo.depotName}}&nbsp; <a target="_blank" rel="noopener noreferrer" ng-href="#/depots/{{abo.depotId}}"><i class="glyphicon small glyphicon-new-window"></i></a></div>
                <div ng-if="abo.tourId">{{abo.tourName}}&nbsp; <a target="_blank" rel="noopener noreferrer" ng-href="#/touren/{{abo.tourId}}"><i class="glyphicon small glyphicon-new-window"></i></a></div>
              </td>

              <td ng-if="showAll" data-title="'# Abw.'|translate">
                {{abo.anzahlAbwesenheiten | lastElement:'value'}}
              </td>
              <td ng-if="showAll" data-title="'Vorige Lieferung'|translate" sortable="'letzteLieferung'">
                {{abo.letzteLieferung | date:'EEE, dd.MM.yyyy'}}
              </td>
              <td ng-if="showAll" data-title="'Guthaben'|translate" sortable="'guthaben'" filter="{guthaben: 'number'}">
                {{abo.guthaben}}
              </td>
              <td ng-if="showAll" data-title="'Guthaben in Rechnung'|translate" sortable="'guthabenInRechnung'" filter="{guthabenInRechnung: 'number'}">
                {{abo.guthabenInRechnung}}
              </td>
              <td ng-if="showAll" data-title="'Guthaben vertraglich'|translate" sortable="'guthabenVertraglich'" filter="{guthabenVertraglich: 'number'}">
                {{abo.guthabenVertraglich}}
              </td>
              <td ng-if="showAll" data-title="'Zusatzabos Ids'|translate" sortable="'zusatzAboIds'">
                <span ng-if="abo.zusatzAboIds.length > 0">
                  <span ng-repeat="id in abo.zusatzAboIds" class="badge">
                    {{id}}
                  </span>
                </span>
              </td>
              <td ng-if="showAll" data-title="'Zusatzabos'|translate" sortable="'zusatzAbotypNames'">
                <span ng-if="abo.zusatzAboIds.length > 0">
                  <span ng-repeat="(name, occ) in abo.zusatzAbotypNames | countOcc " class="badge">
                    <span ng-if="occ > 1">{{occ}}x </span>{{name|translate}}
                  </span>
                </span>
              </td>
              <td ng-if="showAll" data-title="'Preis'|translate" sortable="'price'">
                  {{abo.price | ooCurrency:true}}
              </td>
              <td header="'headerShowAll.html'"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <oo-sliding-detail slide-in="selectedAbo" slide-out-function="unselectAboFunct()">
    <oo-abos-detail kunde-id="selectedAbo.kundeId" abo-id="selectedAbo.id" ng-if="selectedAbo"></oo-abos-detail>
  </oo-sliding-detail>

  <oo-sliding-detail slide-in="showCreateEMailDialog" slide-out-function="closeCreateEMailDialogFunct()" >
    <oo-email-dialog on-close="closeCreateEMailDialog" url="url" message="message" ids="aboIdsMailing" entity="entity"></oo-email-dialog>
  </oo-sliding-detail>

  <oo-sliding-detail slide-in="showCreateRechnungenDialog" slide-out-function="closeCreateRechnungenDialogFunct()">
    <oo-abos-overview-create-rechnungs-positionen on-close="closeCreateRechnungenDialog" abo-ids="checkboxes.ids" filter-query="search.query" abo-type="'abos'"></oo-abos-overview-create-rechnungen>
  </oo-sliding-detail>
</div>
