<div class="row">
  <div class="content content-box col-md-12">
    <div oo-error-overlay></div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><span class="navbar-brand" translate>Zusatzabos</span>
        <form class="navbar-form pull-right" role="search">
          <div class="form-group">
            <oo-overviewfilter-geschaeftsjahre selected-funct="selectedGeschaeftsjahr" select="geschaeftsjahr">
            </oo-overviewfilter-geschaeftsjahre>
            <input type="text" class="form-control" placeholder="{{'Suche in Übersicht...'|translate}}" ng-model="search.query">
            <oo-actions-button model="model" actions="actions"></oo-actions-button>
          </div>
        </form></h3>
      </div>
      <div class="panel-body">
        <div ng-hide="entries">
          <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
        </div>
        <script type="text/ng-template" id="headerCheckbox.html">
          <input type="checkbox" ng-model="checkboxes.checked" ng-class="checkboxes.css" value="" ng-change="updateChecked()" />
        </script>
        <script type="text/ng-template" id="headerShowAll.html">
          <i class="fa fa-eye" aria-hidden="true" ng-hide="showAll" style="cursor: pointer;" ng-click="toggleShowAll()" tooltip-placement="left" uib-tooltip="{{'Alle Spalten einblenden' | translate}}"></i>
          <i class="fa fa-eye-slash" aria-hidden="true" ng-show="showAll" style="cursor: pointer;" ng-click="toggleShowAll()" tooltip-placement="left" uib-tooltip="{{'Standardansicht' | translate}}"></i>
        </script>
        <div ng-show="entries" id="zusatzabosTable" display-export="true" export-file-name="Abos" class="horizontal-scroll">
          <table ng-table="tableParams" class="table table-striped" show-filter="{{showFilter && hasData()}}" template-pagination="scripts/common/ngtable/oo-ngtable-paginationTemplate.html">
            <tr ng-repeat="abo in $data | filter: search.query.$" id="selectedRow_{{abo.id}}">
              <td header="'headerCheckbox.html'">
                <input type="checkbox" ng-model="checkboxes.items[abo.id]" ng-change="updateChecked()" />
              </td>
              <td data-title="'Nr. (Haupt/Zusatzabo)'|translate" sortable="'id'" filter="{id: 'number'}">
                <a ng-click="selectZusatzAbo(abo, 'selectedRow_' + abo.id)">{{abo.hauptAboId}} / {{abo.id}}&nbsp;<i class="fa fa-chevron-right"></i></a>
              </td>
              <td data-title="'Abotyp'|translate" sortable="'abotypName'" filter="{abotypId: 'select'}" filter-data="abotypL">{{abo.abotypName}} &nbsp;
                <a ng-href="#/abotypen/{{abo.abotypId}}"><i class="glyphicon glyphicon-new-window"></i></a>
              </td>
              <td data-title="'Abonnentin'|translate" sortable="'kunde'">
               {{abo.kunde}} &nbsp;<a target="_blank" rel="noopener noreferrer" ng-click="navigateToKunde(abo.kundeId)" ng-href="#/kunden/{{abo.kundeId}}"><i class="glyphicon glyphicon-new-window"></i></a>
              </td>
              <td data-title="'Start'|translate" sortable="'start'">
                {{abo.start | date:'dd.MM.yyyy'}}
              </td>
              <td data-title="'Ende'|translate" sortable="'ende'">
                {{abo.ende | date:'dd.MM.yyyy'}}
              </td>
              <td data-title="'Aktiv'|translate" sortable="'aktiv'" filter="{aktiv: 'boolean'}">
                <i ng-if="abo.aktiv" class="glyphicon glyphicon-ok"></i>
                <i ng-if="!abo.aktiv" class="glyphicon glyphicon-remove"></i>
              </td>
              <td data-title="'Preis'|translate" sortable="'price'">
                {{abo.price | ooCurrency:true}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <oo-sliding-detail slide-in="selectedAbo" slide-out-function="unselectAboFunct()">
    <oo-abos-detail kunde-id="selectedAbo.kundeId" abo-id="selectedAbo.hauptAboId" ng-if="selectedAbo"></oo-abos-detail>
  </oo-sliding-detail>

  <oo-sliding-detail slide-in="showCreateEMailDialog" slide-out-function="closeCreateEMailDialogFunct()" >
    <oo-email-dialog on-close="closeCreateEMailDialog" url="url" message="message" ids="aboIdsMailing" entity="entity"></oo-email-dialog>
  </oo-sliding-detail>

  <oo-sliding-detail slide-in="showCreateRechnungenDialog" slide-out-function="closeCreateRechnungenDialogFunct()">
    <oo-abos-overview-create-rechnungs-positionen on-close="closeCreateRechnungenDialog" abo-ids="checkboxes.ids" filter-query="search.query" abo-type="'zusatzabos'"></oo-abos-overview-create-rechnungen>
  </oo-sliding-detail>
</div>
