<div>
  <div class="row">
    <div class="col-md-12">
      <div class="row form-group">
        <h3 class="nonboxed-title">
          <div class="col-md-5">
            <ul class="nav navbar-nav">
              <script type="text/ng-template" id="anzahlOverallTooltipTemplate.html">
                <span translate>Summe jeweils ohne Zusatzabos!</span><br />
                <span translate>Total Anzahl Körbe zu liefern:</span> <a href="" ng-click="displayAbosTotal(KORBSTATUS.WIRDGELIEFERT)"><b>{{anzahlKoerbeZuLiefern}}</b></a><br />
                <span translate>Total Anzahl Abwesenheiten:</span> <a href="" ng-click="displayAbosTotal(KORBSTATUS.FAELLTAUSABWESEND)"><b>{{anzahlAbwesenheiten}}</b></a><br />
                <span translate>Total Anzahl <i>Saldo zu tief</i>:</span> <a href="" ng-click="displayAbosTotal(KORBSTATUS.FAELLTAUSSALDOZUTIEF)"><b>{{anzahlSaldoZuTief}}</b></a>
              </script>
              <li class="navbar-brand"><span translate>Planung</span> <span uib-tooltip-template="'anzahlOverallTooltipTemplate.html'" tooltip-popup-close-delay="3000">#{{planung.id}}</span>: <span translate>Korbinhalt</span></li>
            </ul>
          </div>
          <div class="col-md-7">
            <div class="pull-right" role="group">
              <button type="button" role="button" ng-click="recalculateBestellungen(); setMode('lieferanten')" ng-disabled="!korbForm.$pristine && planung.status !== 'Offen'" class="btn btn-default"><span class="fa fa-step-forward"></span> <span translate>Produzenten-Übersicht</span></button>
              <button role="button" ng-show="planung.status === 'Abgeschlossen' && !editNachAbgeschlossen" ng-click="setEditableNachAbgeschlossen()" class="btn btn-warning"><span class="fa fa-pencil-square-o"></span> <span translate>Planung editieren</span></button>
              <oo-save-button ng-show="valuesEditable()" model="planung" form="korbForm" entity="Lieferplanung" on-save="save" on-cancel="backToList" on-created="created"><span translate>Planung</span></oo-save-button>
              <span ng-if="korbForm.$pristine" ng-show="planung.status === 'Offen'"><oo-actions-button  model="planung" actions="abschliessenAction" confirm="true" btn-style="btn-success"></oo-actions-button></span>
              <span ng-if="!korbForm.$pristine" ng-show="planung.status === 'Offen'"><oo-actions-button  model="planung" actions="abschliessenActionDisabled" confirm="true" btn-style="btn-success"></oo-actions-button></span>
              <span ng-if="korbForm.$pristine" ng-show="planung.status === 'Abgeschlossen'"><oo-actions-button  model="planung" actions="verrechnenAction" confirm="true" btn-style="btn-success"></oo-actions-button></span>
              <span ng-if="!korbForm.$pristine" ng-show="planung.status === 'Abgeschlossen'"><oo-actions-button  model="planung" actions="verrechnenActionDisabled" confirm="true" btn-style="btn-success"></oo-actions-button></span>

              <span ng-show="planung.status === 'Verrechnet'"><oo-actions-button model="planung" actions="verrechnetAction" btn-style="btn-success"></oo-actions-button></span>
            </div>
          </div>
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" ng-show="valuesEditable(true) ">
      <label for="addAbotyp" translate>Abotyp hinzufügen:</label>
    </div>
    <div class="col-md-1" ng-show="valuesEditable(true)">
      <oo-dropdown dropdown-id="addAbotyp" display-style="uib-dropdown" values="verfuegbareLieferungen" selected-prop="id" display-function="lieferung2add" selected-function="addAbotypToPlanungFunc()"></oo-dropdown>
    </div>
    <div class="col-md-1" ng-show="valuesEditable()">
        <button type="button" role="button" ng-click="editBemerkungen();" class="btn btn-default">
          <span ng-if="!planung.bemerkungen" class="fa fa-pencil-square-o"></span>
          <span ng-if="planung.bemerkungen" class="fa fa-pencil-square"></span>
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 lieferplanung-produkte">
      <div class="panel panel-default panel-fixed-height-full">
        <div class="panel-heading clearfix">
          <h3 class="panel-title"><span class="navbar-brand" translate>Produkte-Angebot</span></h3>
          <span class="pull-right">
            <span class="btn btn-default btn-sm" ng-show="valuesEditable()"
              oo-draggable="true" oo-draged-type="'newProdukt'" title="{{'Sonderprodukt einfügen' | translate}}"><span class="fa fa-life-ring"></span></span>
          </span>
          <div class="col-md-12">
            <span class="fa fa-filter"></span>
            <oo-dropdown dropdown-id="kategorien" display-style="uib-dropdown" values="kategorienL" selected="produkteKategorie" selected-function="filterDataForCategoriesFunc()"></oo-dropdown>
          </div>
        </div>
        <div class="panel-body produkteliste">
          <table ng-table="tableParams" class="table table-striped" show-filter="true" template-pagination="scripts/common/ngtable/oo-ngtable-noPaginationTemplate.html">
              <tr ng-repeat="produkt in $data | orderBy:'bezeichnung'" oo-draggable="valuesEditable()" oo-draged-type="'prod'" ng-style="valuesEditable() && {'cursor': 'move'}">
              <td><span ng-show="valuesEditable()">&#8942;</span></td>
              <td  data-title="'Produkt'|translate" sortable="'name'" filter="{name: 'text'}">
                {{produkt.name}}
              </td>
              <td  data-title="'Preis'|translate" ng-if="projekt.preiseSichtbar">
                {{produkt.preis | ooCHF}}&nbsp;/&nbsp;{{liefereinheiten[produkt.einheit.toUpperCase()].label.short|translate}}
              </td>
              <td data-title="'Prod.'|translate" filter="{produzenten: 'select'}" filter-data="extractProduzentenFilter(undefined, true)">
                <span ng-repeat="produzent in produkt.produzenten">{{produzent}}&nbsp;</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4" ng-repeat="abotypLieferung in abotypenLieferungen | orderBy: 'abotypBeschrieb'">
      <script type="text/ng-template" id="anzahlTooltipTemplate.html">
        <div  ng-if="abotypLieferung.abotyp.typ === 'ZusatzAbotyp'" >
          <span translate>Anzahl Zusatzabos zu liefern:</span> <a href="" ng-click="displayZusatzabos(abotypLieferung.id, KORBSTATUS.WIRDGELIEFERT)"><b>{{abotypLieferung.anzahlKoerbeZuLiefern}}</b></a><br />
          <span translate>Anzahl Abwesenheiten:</span> <a href="" ng-click="displayZusatzabos(abotypLieferung.id, KORBSTATUS.FAELLTAUSABWESEND)"><b>{{abotypLieferung.anzahlAbwesenheiten}}</b></a><br />
          <span translate>Anzahl <i>Saldo zu tief</i>:</span> <a href="" ng-click="displayZusatzabos(abotypLieferung.id, KORBSTATUS.FAELLTAUSSALDOZUTIEF)"><b>{{abotypLieferung.anzahlSaldoZuTief}}</b></a>
        </div>
        <div  ng-if="abotypLieferung.abotyp.typ === 'Abotyp'" >
          <span translate>Anzahl Körbe zu liefern:</span> <a href="" ng-click="displayAbos(abotypLieferung.id, KORBSTATUS.WIRDGELIEFERT)"><b>{{abotypLieferung.anzahlKoerbeZuLiefern}}</b></a><br />
          <span translate>Anzahl Abwesenheiten:</span> <a href="" ng-click="displayAbos(abotypLieferung.id, KORBSTATUS.FAELLTAUSABWESEND)"><b>{{abotypLieferung.anzahlAbwesenheiten}}</b></a><br />
          <span translate>Anzahl <i>Saldo zu tief</i>:</span> <a href="" ng-click="displayAbos(abotypLieferung.id, KORBSTATUS.FAELLTAUSSALDOZUTIEF)"><b>{{abotypLieferung.anzahlSaldoZuTief}}</b></a>
        </div>
      </script>
      <div class="panel panel-default panel-lieferplanung" oo-drop-target="true" on-drop="dropProdukt(dragEl, dropEl, type)">
        <div class="panel-heading clearfix" ng-style="{'background-color':abotypLieferung.abotyp.farbCode}">
          <h3 class="panel-title lieferplanung-title">
            <span class="navbar-brand" data-toggle="collapse" data-target="#abotypLieferung_{{abotypLieferung.id}}" aria-expanded="true">
              <span class="pre-info" uib-tooltip-template="'anzahlTooltipTemplate.html'" tooltip-popup-close-delay="3000">{{abotypLieferung.anzahlKoerbeZuLiefern}}x</span>
              {{abotypLieferung.abotypBeschrieb}}
              <div class="vertrieb-info" ng-if="abotypLieferung.vertriebBeschrieb && abotypLieferung.vertriebBeschrieb!==abotypLieferung.abotypBeschrieb && abotypLieferung.abotyp.typ === 'Abotyp'">
                <span translate>Vertrieb: </span><span> {{abotypLieferung.vertriebBeschrieb}}</span>
              </div>
            </span>
            <span class="pull-right">
              <small class="lieferplanung"><span ng-show="projekt.preiseSichtbar"><b><span title="{{getDurchschnittspreisInfo(abotypLieferung)}}">Ø {{getDurchschnittspreis(abotypLieferung)|ooCHF:true:projekt.waehrung}}</span></b> | </span>{{abotypLieferung.datum | date}}</small>
              <span ng-show="valuesEditable()" class="btn btn-default btn-sm"
                oo-draggable="true" oo-draged-type="'korb'"><span class="fa fa-files-o"></span></span>
              <oo-delete-button model="abotypLieferung" ng-if="abotypLieferung.abotyp.typ !== 'ZusatzAbotyp'" entity="Lieferung" ng-show="valuesEditable()" on-delete="removeAbotypFromPlanung" button-class="btn-default" confirm="true" condensed="true"></oo-delete-button>
              <oo-delete-button model="abotypLieferung" ng-if="abotypLieferung.abotyp.typ === 'ZusatzAbotyp'" entity="Lieferung" ng-show="valuesEditable()" on-delete="removeAbotypFromPlanung" button-class="btn-default" confirm="true" condensed="true" confirm-message="{{'Falls dieser Zusatzabotyp wieder hinzugefügt werden soll, müssen vorgängig alle relevanten Hauptabotypen entfernt und wieder hinzugefügt werden. Soll der Löschvorgang fortgesetzt werden?'|translate}}"></oo-delete-button>
              <div ng-if="abotypLieferung.abotyp.typ === 'ZusatzAbotyp'" > Zusatzabo</div>
            </span>
          </h3>
        </div>
        <script type="text/ng-template" id="unlistedKorbproduktPreisTooltipTemplate.html">
          <span translate>Eingabe: Preis pro Einheit <br />Anzeige: Preis für gewählte Menge</span>
        </script>
        <script type="text/ng-template" id="unlistedKorbproduktBezTooltipTemplate.html">
          <span translate>Dieses Produkt wurde frei hinzugefügt. Es befindet sich nicht in den Stammdaten.</span>
        </script>
        <div class="panel-body collapse in" id="abotypLieferung_{{abotypLieferung.id}}">
          <table ng-table="abotypLieferung.tableParamsKorb" class="table table-striped table-small table-lieferplanung" template-pagination="scripts/common/ngtable/oo-ngtable-noPaginationTemplate.html">
            <tr ng-repeat="korbprodukt in $data | orderBy:'produktBeschrieb'" ng-class="{error: isInvalid(korbprodukt)}">
              <td><span ng-show="valuesEditable()" oo-draggable="true" oo-draged-type="'korbprod'">&#8942;</span></td>
              <td data-title="'Produkt'|translate">
                <span ng-hide="valuesEditable() && isUnlisted(korbprodukt)">
                  {{korbprodukt.produktBeschrieb}}
                  <span ng-if="isUnlisted(korbprodukt)" uib-tooltip-template="'unlistedKorbproduktBezTooltipTemplate.html'" tooltip-popup-close-delay="500" tooltip-class="small-tooltip">
                    <i class="fa fa-info-circle"></i>
                  </span>
                </span>
                <span ng-show="valuesEditable() && isUnlisted(korbprodukt)">
                  <input type="text" class="form-control large" name="korbprodukt.name" ng-disabled="!valuesEditable()" ng-model="korbprodukt.produktBeschrieb" placeholder="{{'Produktbez.'|translate}}" maxlength=140 required>
                </span>
              </td>
              <td data-title="'Menge'|translate">
                <input type="number" placeholder="{{'Menge'|translate}}" ng-disabled="!valuesEditable()" ng-pattern="/^[0-9]+([\.,][0-9]{1,3})?$/" min="0" step="0.001" class="form-control" name="menge" ng-model="korbprodukt.menge" required></input>
              </td>
              <td>
                <span ng-if="!valuesEditable() || !isUnlisted(korbprodukt)">
                  <div>{{liefereinheiten[korbprodukt.einheit.toUpperCase()].label.short|translate}}</div>
                </span>
                <span ng-if="valuesEditable() && isUnlisted(korbprodukt)">
                  <oo-dropdown dropdown-id="einheit" display-style="uib-dropdown" values="liefereinheiten" selected-prop="id" property="label.short" selected="korbprodukt.einheit" ng-required></oo-dropdown>
                </span>
              </td>
              <td data-title="'Preis'|translate" ng-if="projekt.preiseSichtbar">
                <span ng-show="korbprodukt.menge" ng-if="!valuesEditable() || (!projekt.preiseEditierbar && !isUnlisted(korbprodukt))">
                  {{calculatePreis(korbprodukt)| ooCHF}}
                </span>
                <span ng-show="korbprodukt.menge" ng-if="valuesEditable() && (projekt.preiseEditierbar || isUnlisted(korbprodukt))">
                  <p class="input-group">
                    <input type="number" placeholder="{{'Preis'|translate}}" ng-disabled="!valuesEditable()" ng-pattern="/^[0-9]+([\.,][0-9]{1,2})?$/" min="0" step="0.01" class="form-control" name="preis" ng-model="korbprodukt.preisEinheit" ng-change="calculatePreis(korbprodukt)" required></input>
                    <span class="input-group-addon" uib-tooltip-template="'unlistedKorbproduktPreisTooltipTemplate.html'" tooltip-popup-close-delay="500" tooltip-class="preis-tooltip">
                      {{calculatePreis(korbprodukt)| ooCHF}} <i class="fa fa-info-circle"></i>
                    </span>
                  </p>
                </span>
                <span ng-hide="korbprodukt.menge" class="base-preis">
                  {{korbprodukt.preisEinheit | ooCHF}}
                </span>
              </td>
              <td data-title="'Prod.'|translate">
                <span ng-if="!valuesEditable()">
                  {{korbprodukt.produzentKurzzeichen}}
                </span>
                <span ng-if="valuesEditable()">
                  <oo-dropdown dropdown-id="produzent" display-style="uib-dropdown" values="korbprodukt.produzentenL" property="title" selected-prop="title" selected="korbprodukt.produzentKurzzeichen" selected-function="selectedProduzentFunc()" selected-function-scope="korbprodukt" required></oo-dropdown>
                </span>
              </td>
              <td>
                <button type="button" class="btn btn-default btn-sm" ng-show="valuesEditable()" ng-click="removeProdukt(abotypLieferung, korbprodukt)"><span class="fa fa-times"></span></button>
              </td>
            </tr>
            <tfoot ng-show="projekt.preiseSichtbar">
              <tr>
                <td colspan="2"></td>
                <td colspan="2" translate>Total</td>
                <td>{{getTotal(abotypLieferung.lieferpositionen, abotypLieferung)| ooCHF}}</td>
                <td colspan="2"><span class="liefersumme" ng-class="{'red':getDiff(abotypLieferung.zielpreis, abotypLieferung.lieferpositionen) < 0}" aria-hidden="true" tooltip-popup-close-delay="500" uib-tooltip-html="('Zielpreis: '|translate) + (abotypLieferung.zielpreis | ooCHF)">&#916;&nbsp;{{getDiff(abotypLieferung.zielpreis, abotypLieferung.lieferpositionen)| ooCHF}}</span></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
