body {
  font-family: 'Droid Sans', sans-serif;;

  background-image: url('/images/background.jpg');
  background-color: rgba(255,255,255,0.6);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

h1, h2, h3 {
  letter-spacing: 0.7px;
}

h3 .small {
  margin-top: 9px;
  margin-right: 5px;
}

//ng validator
.oo-invalid,
input.ng-invalid {
  border-color: #D60000;
}

.panel-title input.ng-invalid {
  border-color: #cccccc; //default bootstrap forms border-color
}

.navbar-fixed-top {
  background-color: #e7e7e7;
  min-width: 1200px;
}

.nav-item {
  padding: 10px 5px 10px 15px;
  cursor: pointer;
}

.nav-item.sublevel-1 {
  padding: 5px 35px;
}

.master-content {
  margin-top: 61px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 1200px;
}

.content {
}

.content-box {
  background: rgba(255,255,255,0.6);
}

.panel {
  margin-top: 20px;
}

.panel-title > a[role=button]{
  color: #fff;
}

.color-box {
  float: left;
  width: 20px;
  height: 20px;
  margin: 0px 5px 5px 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.2);
  border-radius: 4px;
}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  cursor: pointer;
  height: 40px;
  position: absolute;
  top: 80px;
  left: 210px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  z-index:2000;
}
.menu-opener.active {
  background: #B7B7B7;
  left: 0px;
}

.menu-opener:hover {
  background: #C7C7C7;
}

.menu-opener:hover > .menu-opener-inner::after,  .menu-opener:hover > .menu-opener-inner::before {
  background:white;
}

.menu-opener-inner {
  background: #fff;
  height: .5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}

.menu-opener-inner::before, .menu-opener-inner::after {
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}

.menu-opener-inner::before {
  background: white;
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  background: white;
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}

.menu-opener-inner.active::before {
  background: #B7B7B7;
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  background: #B7B7B7;
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.dropdown-form {
 padding:17px;
 border-radius: 6px;
}

.input-date {
 min-width: 100px;
}

.dropdown {
  margin-right: 4px;
}

.dropdown>.dropdown-form:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -6px;
  left: 9px;
}

.dropdown>.dropdown-form:after{
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -5px;
  left: 10px;
}

.dropdown .pull-right>.dropdown-form:before{
 left: auto;
 right: 12px;
}

.dropdown .pull-right>.dropdown-form:after{
 left: auto;
 right: 12px;
}

.abotypHeader>h3>span {
  mix-blend-mode: exclusion;
  color: white;
}

.openolitor .ng-table th {
  text-align: left;
}

.openolitor .ng-table-filters select,
.openolitor .ng-table th.filter .input-filter{
  padding: 3px 6px;
  font-size: 12px;
  height: 24px;
  min-height: 24px;
  border-radius: 3px;
}

.openolitor .table-small select,
.openolitor .table-small input,
.openolitor .table-small .btn,
.openolitor .table-small .input-group-addon{
  padding: 1px 6px;
  font-size: 12px;
  height: 24px;
  border-radius: 3px;
}

.openolitor .table-small > thead > tr > th,
.openolitor .table-small > tbody > tr > th,
.openolitor .table-small > tfoot > tr > th,
.openolitor .table-small > thead > tr > td,
.openolitor .table-small > tbody > tr > td,
.openolitor .table-small > tfoot > tr > td {
  padding: 4px;
}

.nonboxed-title .navbar-brand {
  margin-left: 0px !important;
  padding-top: 5px;
  padding-bottom: 0px;
}

/* Special Lieferplanung */
#lieferplanung .lieferplanung-title .navbar-brand {
  margin-left: 0px !important;
  padding-left: 0px;
}

#lieferplanung .lieferplanung-title .navbar-brand .pre-info {
  color: #ADADAD;
  font-size: 85%;
}

#lieferplanung .panel-lieferplanung {
  min-height: 30vh;
}

#lieferplanung .lieferplanung-produkte {
  min-height: calc( 100vh - 130px);
}

// scollable table for produkteliste
#lieferplanung .produkteliste {
  overflow-y: scroll;
  max-height:  calc(100vh - 200px);
}

#lieferplanung .panel-fixed-height-full {
  min-height: calc(100vh - 180px);
}

#lieferplanung .table-lieferplanung input{
  width: 5em;
}

#lieferplanung .table-lieferplanung input.large {
  width: 8em;
}

#lieferplanung .table-lieferplanung .input-group-addon{
  width: 4em;
}

#lieferplanung .table-lieferplanung .base-preis {
  color: #AF9E9E;
}

#lieferplanung .table-lieferplanung .liefersumme {
  opacity: 0.7;
}

#lieferplanung .table-lieferplanung .liefersumme.red {
  color: red;
}

#lieferplanung .table-lieferplanung tfoot {
  font-weight: bold;
}

/* Drag'n'drop */
#lieferplanung .oo-over {
  border-style: solid;
  border-width: 1px;
  border-color: red !important;
  box-shadow: 4px 4px 10px red;
}

#lieferplanung .oo-target {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 4px 4px 10px grey;
}

//navbar styles

.navbar .hamburger-toggle {
  top: 10px;
}
.navbar .hamburger-toggle .material-design-hamburger__layer {
  background: #666;
}
.content {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.content .show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.content .show-hide.ng-hide {
  opacity:0;
}

.content.sidenav-open {
  padding-left: 250px;
}
.sidenav {
  width: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 51px;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
   box-shadow: 0 8px 17px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 8px 17px rgba(0,0,0,.2);
  background: #fff;
  z-index: 10;
}

.sidenav.open {
  width: 250px;
  overflow-y: auto;
}

.navbar {
  z-index: 100;
}

.navbar-brand {
  margin-left: 25px !important;
}

.container.panel {
  min-height: 500px
}

footer, .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.openolitor>footer {
  text-align: right;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
}

.openolitor>footer a:link, .openolitor>footer a:active, .openolitor>footer a:visited{
  color: #82C5FF;
}

.openolitor>footer .connected {
  color: #28AF00;
}

.openolitor>footer .disconnected {
  color: #FD6464;
}

.adsbygoogle {
  width: 320px !important;
  height: 270px !important;
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 10px;
}

@media (max-width: 940px) {
  .adsbygoogle {
    float: none !important;
    width: 100% !important;
    text-align: center;
  }
}

.sidebar-nav .fa {
  font-size: 140%;
  width: 60px;
  margin-left: -45px;
}

.sidebar-nav .sublevel-1 .fa {
  font-size: 120%;
  width: 50px;
  margin-left: -45px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(255,255,255,0.9);
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a, .sidebar-nav li>span {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: #EFEFEF;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li a.active {
    background: rgba(211, 214, 140, 0.64);
    color: #222222;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 170px;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;
}

/* The starting CSS styles for the enter animation */
.ooFade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.ooFade.ng-enter.ng-enter-active {
  opacity:1;
}

/* now the element will fade out before it is removed from the DOM */
.ooFade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.ooFade.ng-leave.ng-leave-active {
  opacity:0;
}
.ooFade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}

/* The starting CSS styles for the enter animation */
.sidebar-nav.ng-enter {
  transition:0.5s linear all;
  width:0px;
}

/* The finishing CSS styles for the enter animation */
.sidebar-nav.ng-enter.ng-enter-active {
  opacity:1;
  width:240px;
}

/* now the element will fade out before it is removed from the DOM */
.sidebar-nav.ng-leave {
  transition:0.5s linear all;
  width:240px;
}
.sidebar-nav.ng-leave.ng-leave-active {
  width:240px;
}
.sidebar-nav.ng-hide {
  transition:0.5s linear all;
  width:0px;
}

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}

.borderless td, .borderless th, .borderless tr {
    border: none !important;
}

.connected-alert {
  height: 50px;
  width: 640px;
  position: absolute;
  top: 30px;
  left: calc(50% - 320px);
  right: calc(50% - 320px);
  z-index:2000;
}
tr.error {
  background-color: rgba(255, 0, 0, 0.11) !important;
}
