<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title" translate>Lieferungen</h3>
  </div>
  <div class="panel-body">
    <div class="row form-group">
      <div class="col-md-6">
        <label for="letzteLieferung" translate>Letzte Lieferung</label>
      </div>
      <div class="col-md-6">
        <span name="letzteLieferung">{{abotyp.letzteLieferung|date:"dd.MM.yyyy @ hh:mm"}}</span>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <label for="lieferungen" translate>Geplante Lieferungen</label>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <div class="panel">
          <script type="text/ng-template" id="removePagerRow.html">
            <!-- nothing -->
          </script>
          <table ng-table="lieferungenTableParams" class="table table-striped" show-filter="false" template-pagination="removePagerRow.html">
            <tr ng-repeat="lieferung in $data">
              <td title="'Datum'|translate">
                {{lieferung.datum}}
              </td>
              <td title="'Abw.'|translate">
                <i ng-if="lieferung.anzahlAbwesenheiten > 1" class="badge">{{lieferung.anzahlAbwesenheiten}}</i>
              </td>
              <td>
                <a href="" ng-click="" ng-if="!lieferung.status === 'Offen'"><i class="glyphicon glyphicon-remove"></i></a>
              </td>
            </tr>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
