<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title"><span translate>Lieferungen</span>
      <button role="button" href="" ng-if="canGenerateLieferungen()" ng-click="showGenerateLieferungenDialog()" class="btn btn-default pull-right"><i class="fa fa-calculator"></i> </button>
      <span class="pull-right" ng-show="showLoading()"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i></span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row form-group">
      <div class="col-md-7">
        <label for="letzteLieferung" translate>Letzte Lieferung</label>
      </div>
      <div class="col-md-5">
        <span name="letzteLieferung">{{abotyp.letzteLieferung|date:"dd.MM.yyyy @ hh:mm"}}</span>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-10">
        <label for="lieferungen" translate>Geplante Lieferdaten</label>
      </div>
      <div class="col-md-2 dropdown" ng-if="!showLoading()">
        <div uib-dropdown class="pull-right" is-open="status.open">
          <a role="button" href="" class="btn btn-default" uib-dropdown-toggle><span class="glyphicon glyphicon-plus"></span> </a>
          <div uib-dropdown-menu class="dropdown-form">
            <form class="form" name="formCreateLieferung">
              <div class="form-group">
                  <p class="input-group">
                      <input type="text" name="datum" class="form-control input-date" date-disabled="datumExistiert(date)" datetime-picker="dd.MM.yyyy" placeholder="{{'Lieferdatum'|translate}}" ng-model="template.datum" is-open="open.lieferdat" enable-time="false" min-date="now" required/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'lieferdat')"><i class="fa fa-calendar"></i></button>
                      </span>
                  </p>
              </div>
              <a href="" role="button" ng-disabled="formCreateLieferung.$invalid" ng-click="addLieferung()" class="btn btn-primary"><i class="fa fa-floppy-o"></i> <span translate>Erstellen</span></a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <div class="panel">
          <script type="text/ng-template" id="removePagerRow.html">
            <!-- nothing -->
          </script>
        <table ng-table="lieferungenTableParams" class="table table-striped" show-filter="false" template-pagination="removePagerRow.html">
            <tr ng-repeat="lieferung in $data">
              <td data-title="'Datum'|translate">
                {{lieferung.datum|date:"EEE, dd.MM.yyyy"}}
              </td>
              <td data-title="'Abw.'|translate">
                <i ng-if="lieferung.anzahlAbwesenheiten > 0" class="badge">{{lieferung.anzahlAbwesenheiten}}</i>
              </td>
              <td>
                <a href="" ng-hide="deletingLieferung(lieferung)" ng-click="deleteLieferung(lieferung)" ng-if="!lieferung.lieferplanungId && lieferung.anzahlAbwesenheiten < 1"><i class="glyphicon glyphicon-remove"></i></a>
                <i ng-show="deletingLieferung(lieferung)" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
