<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title" translate>Lieferungen</h3>
  </div>
  <div class="panel-body">
    <div class="row form-group">
      <div class="col-md-4">
        <label for="letzteLieferung" translate>Letzte Lieferung</label>
      </div>
      <div class="col-md-8">
        <span name="letzteLieferung">{{abotyp.letzteLieferung|date:"dd.MM.yyyy @ hh:mm"}}</span>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <label for="lieferungen" translate>Geplante Lieferungen</label>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <div class="panel">
          <div ng-repeat="lieferung in dummyLieferungen">
            <label class="btn btn-primary">
            {{lieferung.datum}}
              <i class="fa fa-times"></i>
              <i ng-if="lieferung.anzahlAbwesenheiten > 1" class="badge">{{lieferung.anzahlAbwesenheiten}}</i>
          </label>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
