<div class="row">
<div class="content content-box col-md-9">
  <div oo-error-overlay></div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3  class="panel-title"><span class="navbar-brand" translate>Lieferplanungen</span>
        <form class="navbar-form pull-right" role="search">
          <div class="form-group">
            <button role="button" ng-click="createNewLieferplanung()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> <span translate>Neue Lieferplanung generieren</span></button>
          </div>
        </form>
      </span>
      </h3>
    </div>
    <div class="panel-body">
      <div ng-hide="entries">
        <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
      </div>
      <div ng-show="entries" id="kundeTable" display-export="true" export-file-name="Kunden">
        <table ng-table="tableParams" class="table table-striped" show-filter="{{showFilter && hasData()}}" template-pagination="scripts/common/ngtable/oo-ngtable-paginationTemplate.html">
          <tr ng-repeat="lieferplanung in $data">
            <td data-title="'#'|translate" sortable="'nr'">
              <a ng-href="#/lieferplanung/{{lieferplanung.id}}">{{lieferplanung.id}}</a>
            </td>
            <td data-title="'Abotypen'|translate">
              {{lieferplanung.abotypDepotTour}}
            </td>
            <td data-title="'Status'|translate">
              <i ng-if="lieferplanung.status === 'Offen'" title="{{'Offen'|translate}" class="fa fa-unlock"></i>
              <i ng-if="lieferplanung.status === 'Abgeschlossen' || lieferplanung.status === 'Verrechnet'" title="{{lieferplanung.status|translate}" class="fa fa-lock"></i>
            </td>
            <td data-title="'Letzte Bearbeitung'|translate">
              {{lieferplanung.modifidat | fromNow}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
