<div class="row">
  <div class="content content-box col-md-12">
    <div oo-error-overlay></div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><span class="navbar-brand" translate>Lieferplanungen</span>
          <form class="navbar-form pull-right" role="search">
            <div class="form-group">
              <oo-overviewfilter-geschaeftsjahre
                selected-funct="selectGeschaeftsjahr"
                select="geschaeftsjahr"
                select-current="true">
              </oo-overviewfilter-geschaeftsjahre>
              <input type="text" class="form-control" placeholder="{{'Suche in Übersicht...'|translate}}" ng-model="search.query">
              <oo-actions-button model="model" actions="actions"></oo-actions-button>
            </div>
          </form>
        </h3>
      </div>
      <div class="panel-body">
        <div ng-hide="entries">
          <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
        </div>
        <script type="text/ng-template" id="headerCheckbox.html">
          <input type="checkbox" ng-model="checkboxes.checked" ng-class="checkboxes.css" value="" />
        </script>
        <div ng-show="entries" id="kundeTable" display-export="true" export-file-name="Lieferplanungen" class="horizontal-scroll">
          <table ng-table="tableParams" class="table table-striped" show-filter="{{showFilter && hasData()}}" template-pagination="scripts/common/ngtable/oo-ngtable-paginationTemplate.html">
            <tr ng-repeat="lieferplanung in $data">
              <td header="'headerCheckbox.html'">
                <input ng-if="lieferplanung.status !== 'Offen'" type="checkbox" ng-model="checkboxes.items[lieferplanung.id]" />
              </td>
              <td data-title="'#'|translate" sortable="'nr'">
                <a ng-href="#/lieferplanung/{{lieferplanung.id}}">{{lieferplanung.id}}</a>
              </td>
              <td data-title="'Abotypen'|translate">
                {{lieferplanung.abotypDepotTour}}
              </td>
              <td data-title="'Status'|translate">
                <i ng-if="lieferplanung.status === 'Offen'" ng-attr-title="{{'Offen'|translate}}" class="fa fa-unlock"></i>
                <i ng-if="lieferplanung.status === 'Abgeschlossen' || lieferplanung.status === 'Verrechnet'" ng-attr-title="{{lieferplanung.status|translate}}" class="fa fa-lock"></i>
              </td>
              <td data-title="'Letzte Bearbeitung'|translate">
                {{lieferplanung.modifidat | fromNow}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <oo-sliding-detail slide-in="showGenerateReport" slide-out-function="closeBerichtFunct()">
    <oo-generate-report on-close="closeBericht" projekt-vorlagen="projektVorlagen()" pdf-generation-options="false" on-generated="closeBericht" post-path="'lieferplanungen/berichte/lieferplanung'" ids="checkboxes.ids" pdfGenerationOptions="false" default-file-name="'Lieferplanungen.odt'"></oo-generate-report>
  </oo-sliding-detail>
</div>
