<div class="row">
  <div oo-error-overlay></div>
  <div class="content content-box col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3  class="panel-title"><span class="navbar-brand"><span translate>Offene Pendenzen</span> / <span><a href="" ng-href="#/pendenzen" translate>Alle</a></span></span>
          <form class="navbar-form pull-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="{{'Suche in Pendenzen...'|translate}}" ng-model="pendenzen.search.query">
            </div>
          </form>
        </span>
        </h3>
      </div>
      <div class="panel-body">
        <div ng-hide="pendenzenEntries">
          <p ng-show="pendenzenLoading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
        </div>
        <div ng-show="pendenzenEntries">
          <table ng-table="pendenzenTableParams" class="table table-striped" template-pagination="scripts/dashboard/oo-ngtable-nopagination.html">
            <tr ng-repeat="pendenz in $data">
              <td data-title="'Datum'|translate" sortable="'datum'">
                {{pendenz.datum|date:"dd.MM.yyyy"}}
              </td>
              <td data-title="'Bemerkung'|translate" sortable="'bemerkung'">
                {{pendenz.bemerkung}}
              </td>
              <td data-title="'Kunde'|translate">
                <a ng-href="#/kunden/{{pendenz.kundeId}}">{{pendenz.kundeBezeichnung}}</a>
              </td>
              <td>
                <button ng-if="isUnresolved(pendenz)" type="button" class="btn btn-xs btn-success" ng-click="markErledigt(pendenz)" title="{{'Pendenz als erledigt markieren'|translate}}"><span class="glyphicon glyphicon-ok"></span> </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="content content-box col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><span class="navbar-brand"><span translate>Aktuellste Lieferplanungen</span> / <span><a href="" ng-href="#/lieferplanung" translate>Alle</a></span></span></h3>
      </div>
      <div class="panel-body">
        <div ng-hide="lieferplanungEntries">
          <p ng-show="lieferplanungLoading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
        </div>
        <div ng-show="lieferplanungEntries" id="kundeTable">
          <table ng-table="lieferplanungenTableParams" class="table table-striped" template-pagination="scripts/dashboard/oo-ngtable-nopagination.html">
            <tr ng-repeat="lieferplanung in $data">
              <td data-title="'#'|translate" sortable="'nr'">
                <a ng-href="#/lieferplanung/{{lieferplanung.id}}">{{lieferplanung.id}}</a>
              </td>
              <td data-title="'Abotypen'|translate">
                {{lieferplanung.abotypDepotTour}}
              </td>
              <td data-title="'Status'|translate">
                <i ng-if="lieferplanung.status === 'Offen'" ng-attr-title="{{'Offen'|translate}}" class="fa fa-unlock"></i>
                <i ng-if="lieferplanung.status === 'Abgeschlossen' || lieferplanung.status === 'Verrechnet'" ng-attr-title="{{lieferplanung.status|translate}}" class="fa fa-lock"></i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="content content-box col-md-6">
    <div oo-error-overlay></div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><span class="navbar-brand"><span translate>Überfällige Rechnungen</span> / <span><a href="" ng-href="#/rechnungen" translate>Alle</a></span></span></h3>
      </div>
      <div class="panel-body">
        <div ng-hide="rechnungEntries">
          <p ng-show="rechnungenLoading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
        </div>
        <div ng-show="rechnungEntries" id="rechnungenTable">
          <table ng-table="rechnungenTableParams" class="table table-striped" template-pagination="scripts/dashboard/oo-ngtable-nopagination.html">
            <tr ng-repeat="rechnung in $data">
              <td data-title="'Nr.'|translate" sortable="'id'">
                <a ng-href="#/rechnungen/{{rechnung.id}}">{{rechnung.id}}</a>
              </td>
              <td data-title="'Kunde'|translate" sortable="'kundeId'">
                <a ng-href="#/kunden/{{rechnung.kundeId}}">{{rechnung.kundeId}}</a>
              </td>
              <td data-title="'Titel'|translate" sortable="'titel'">
                <a ng-href="#/rechnungen/{{rechnung.id}}">{{rechnung.titel}}</a>
              </td>
              <td data-title="'Betrag'|translate" sortable="'betrag'">
                {{rechnung.waehrung}} {{rechnung.betrag}}
              </td>
              <td data-title="'Fälligkeit'|translate" sortable="'faelligkeitsDatum'">
                <span class="red">{{rechnung.faelligkeitsDatum | date}}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
