<div class="panel panel-default"  ng-if="isExisting()">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">
      <span class="navbar-brand" translate>Abos</span>
      <button role="button" ng-click="showCreateAboDialog()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> <span translate>Neues Abo</span></button></h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-condensed">
      <tr>
          <th tanslate>Nr.</th>
          <th tanslate>Abotyp</th>
          <th tanslate>Start</th>
          <th tanslate>Ende</th>
          <th tanslate>Guthaben</th>
          <th tanslate>Depot/Tour</th>
          <th tanslate>Letzte Lieferung</th>
          <th tanslate># Abw.</th>
          <th tanslate># Lieferungen</th>
          <th> </th>
      </tr>
      <tr ng-repeat="abo in kunde.abos track by $index">
        <td>
          <a ng-click="selectAbo(abo)" >{{abo.id}}</a>
        </td>
        <td>
          <a ng-href="#/abotypen/{{abo.abotypId}}">{{abo.abotypName}}</a>
        </td>
        <td>
          {{abo.start | date : 'dd.MM.yyyy'}}
        </td>
        <td>
          {{abo.ende | date : 'dd.MM.yyyy'}}
        </td>
        <td>
          {{abo.guthaben + abo.guthabenInRechnung}}
        </td>
        <td>
          <span ng-show="abo.depotId">
            <span translate>Depot:</span>
            <a ng-href="#/depots/{{abo.depotId}}">{{abo.depotName}}</a>
          </span>
          <span ng-show="abo.tourId">
            <span translate>Tour:</span>
            <a ng-href="#/touren/">{{abo.tourName}}</a>
          </span>
          <span ng-hide="abo.tourId || abo.depotId">
            <span translate>Postlieferung</span>
          </span>
        </td>
        <td>
          {{abo.letzteLieferung | date : 'dd.MM.yyyy'}}
        </td>
        <td>
          {{abo.anzahlAbwesenheiten | lastElement:'value'}}
        </td>
        <td>
          {{abo.anzahlLieferungen | lastElement:'value'}}
        </td>
        <td>
          <div class="pull-right">
            <div class="btn-group" ng-hide="updatingAbo(abo)">
              <button uib-btn-checkbox ng-model="selectedAbo" role="button" ng-href="" ng-show="abo.id" ng-click="selectAbo(abo)" class="btn btn-sm btn-default" oo-stop-event><i class="fa fa-long-arrow-right"></i></button>
            </div>
            <i ng-show="updatingAbo(abo)" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
