<div class="modal-header">
  <h3 translate>Abo erstellen für {{kunde.bezeichnung}}</h3>
</div>'
<div class="modal-body">
 <div>
   <div class="row form-group">
     <div class="col-md-3">
       <label for="abotyp" translate>Abotyp</label>
     </div>
     <div class="col-md-8">
       <oo-dropdown dropdown-id="abotyp" display-style="uib-dropdown" values="abotypen" property="name" selected-prop="id" selected="abo.abotypId"></oo-dropdown>
     </div>
   </div>
   <div ng-if="abotyp">
     <div ng-include="'scripts/abotypen/detail/vertriebsarten/oo-vertriebsart-selection.html'"></div>
   </div>
   <div class="row form-group" ng-if="abo.vertriebsart">
     <div class="col-md-3">
       <label for="abotyp" translate>Start</label>
     </div>
     <div class="col-md-8">
       <p class="input-group">
         <input type="text" class="form-control input-date" datetime-picker="dd.MM.yyyy" ng-model="abo.start" is-open="open.start" enable-time="false" max-date="abo.start" />
         <span class="input-group-btn">
           <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'start')"><i class="fa fa-calendar"></i></button>
         </span>
       </p>
     </div>
   </div>
 </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-show="true" ng-click="save();$close();" translate>Abo erstellen</button>
    <button class="btn btn-warning" ng-click="$close();" translate>Abbrechen</button>
</div>
