<div class="row">
  <div class="content content-box col-md-12">
    <div oo-error-overlay></div>
    <form name="depotForm">
      <div class="row form-group">
        <div class="col-md-12">
          <h3 for="vorname">{{fullName() || 'Depot'|translate}}
            <div class="btn-group pull-right" role="group">
              <oo-save-button model="depot" form="depotForm" entity="Depot" on-save="save" on-cancel="backToList" on-created="created">{{fullName() || 'Depot'|translate}}</oo-save-button>
            </div>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title"><span class="navbar-brand" translate>Basisdaten</span></h3>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="name" translate>Depotname</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control" name="name" ng-model="depot.name" placeholder="{{'Eindeutige Bezeichnung'|translate}}" auto-focus required>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="kurzzeichen" translate>Kurzzeichen</label>
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control" name="kurzzeichen" ng-model="depot.kurzzeichen" ng-maxlength="6" placeholder="{{'KRZ'|translate}}" required>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="aktiv" translate>Status</label>
                  </div>
                  <div class="col-md-4">
                    <input bs-switch ng-model="depot.aktiv" type="checkbox" switch-size="medium" switch-animate="true" switch-on-text="{{'Aktiv'|translate}}" switch-off-text="{{'Inaktiv'|translate}}" switch-on-color="success" switch-off-color="danger" switch-radio-off="false" ng-true-value="true" ng-false-value="false">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="strasse" translate>Strasse / Nr.</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="strasse" ng-model="depot.strasse" ng-required="!depot.postfach" placeholder="{{'Strasse'|translate}}" maxlength="30">
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control" id="hausNummer" ng-model="depot.hausNummer" placeholder="{{'Nr'|translate}}" maxlength="10">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="plz" translate>PLZ / Ort</label>
                  </div>
                  <div class="col-md-3">
                    <input type="text" pattern="[0-9]{4,5}" class="form-control" id="plz" ng-model="depot.plz" required placeholder="{{'PLZ'|translate}}" maxlength="5">
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="form-control" id="ort" ng-model="depot.ort" required placeholder="{{'Ort'|translate}}" maxlength="35">
                  </div>
                </div>
              </div>
              <div class="panel-heading clearfix">
                <h3 class="panel-title" translate>Zusatzdaten</h3>
              </div>
              <div class="panel-body">
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="anzahlAbonnentenMax" translate>Maximal Abos pro Liefertag</label>
                  </div>
                  <div class="col-md-2">
                      <input type="number" pattern="[0-9]{0,4}" class="form-control" id="anzahlAbonnentenMax" ng-model="depot.anzahlAbonnentenMax" maxlength="4" placeholder="{{'Anzahl'|translate}}">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="farbCode" translate>Farbe-Code</label>
                  </div>
                  <div class="col-md-3">
                    <color-picker ng-model="depot.farbCode" color-picker-alpha="false" color-picker-format="'hex'"></color-picker>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="oeffnungszeiten" translate>Öffnungszeiten</label>
                  </div>
                  <div class="col-md-8">
                    <textarea class="form-control" name="oeffnungszeiten" ng-model="depot.oeffnungszeiten" placeholder="{{'Öffnungszeiten'|translate}}..."></textarea>
                  </div>
                </div>
              </div>
              <div class="panel-heading clearfix">
                <h3 class="panel-title" translate>Kontodaten</h3>
              </div>
              <div class="panel-body">
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="iban" translate>IBAN</label>
                  </div>
                  <div class="col-md-7">
                    <input type="text" class="form-control" name="iban" ng-model="depot.iban" placeholder="{{'CH...'|translate}}">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="bank" translate>Bank</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control" name="bank" ng-model="depot.bank" placeholder="{{'Bank, PLZ Ort'|translate}}">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4">
                    <label for="beschreibung" translate>Beschreibung</label>
                  </div>
                  <div class="col-md-8">
                    <textarea class="form-control" name="beschreibung" ng-model="depot.beschreibung" placeholder="{{'Beschreibung'|translate}}..."></textarea>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title"><span class="navbar-brand" translate>Anprechperson</span></h3>
            </div>
            <div class="panel-body">
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="apVorname" translate>Vorname</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="apVorname" ng-model="depot.apVorname" placeholder="{{'Vorname'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="apName" translate>Name</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="apName" ng-model="depot.apName" placeholder="{{'Name'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="apEmail" translate>E-Mail</label>
                </div>
                <div class="col-md-8">
                  <input type="email" class="form-control" name="apEmail" ng-model="depot.apEmail" placeholder="{{'E-Mail'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="apTelefon" translate>Telefon</label>
                </div>
                <div class="col-md-5">
                  <input type="text" class="form-control" name="apTelefon" ng-model="depot.apTelefon" placeholder="{{'+41...'|translate}}">
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title"><span class="navbar-brand" translate>Verantwortliche Person</span></h3>
            </div>
            <div class="panel-body">
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="vVorname" translate>Vorname</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="vVorname" ng-model="depot.vVorname" placeholder="{{'Vorname'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="vName" translate>Name</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="vName" ng-model="depot.vName" placeholder="{{'Name'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="vEmail" translate>E-Mail</label>
                </div>
                <div class="col-md-8">
                  <input type="email" class="form-control" name="vEmail" ng-model="depot.vEmail" placeholder="{{'E-Mail'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="vTelefon" translate>Telefon</label>
                </div>
                <div class="col-md-5">
                  <input type="text" class="form-control" name="vTelefon" ng-model="depot.vTelefon" placeholder="{{'+41...'|translate}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
