<div class="row">
<div class="content content-box col-md-9">
  <div oo-error-overlay></div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3  class="panel-title"><span class="navbar-brand" translate>Touren</span>
        <form class="navbar-form pull-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{'Suche in Übersicht...'|translate}}" ng-model="search.query.$">
            <a role="button" ng-click="tourErstellen()" ng-disabled="editing" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> <span translate>Tour erstellen</a>
          </div>
        </form>
      </span>
      </h3>
    </div>
    <div class="panel-body">
      <div ng-hide="entries">
        <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
      </div>
      <div ng-show="entries" id="tourTable" display-export="true" export-file-name="touren">
        <table ng-table="tableParams" class="table table-striped" show-filter="{{showFilter && hasData()}}" template-pagination="scripts/common/ngtable/oo-ngtable-paginationTemplate.html">
          <tr ng-repeat="tour in $data | filter: search.query.$ track by tour.id">
            <td data-title="'Nr.'|translate" sortable="'id'" ng-class="[{'col-md-3': tour.editable}]">
              <a ng-href="#/touren/{{tour.id}}">{{tour.id}}</a>
            </td>
            <td data-title="'Name'|translate" sortable="'name'" ng-class="[{'col-md-3': tour.editable}]">
              <span ng-hide="tour.editable">{{tour.name}}</span>
              <span ng-show="tour.editable">
                <input type="text" class="form-control" name="name" ng-model="tour.name" placeholder="{{'Neue Bezeichnung'|translate}}" required>
              </span>
            </td>
            <td data-title="'Beschrieb'|translate" sortable="'beschreibung'" ng-class="[{'col-md-7': tour.editable}]">
              <span ng-hide="tour.editable">{{tour.beschreibung}}</span>
              <span ng-show="tour.editable">
                <input type="text" class="form-control" name="beschreibung" ng-model="tour.beschreibung" placeholder="{{'Beschreibung'|translate}}">
              </span>
            </td>
            <td data-title="'# Abos'|translate">
              {{tour.anzahlAbonnenten}}
            </td>

            <td>
              <div ng-hide="tour.editable || editing" class="pull-right">
                <a role="button" class="btn btn-sm btn-primary" ng-click="edit(tour)"><span class="glyphicon glyphicon-edit"></span></a>
                <oo-delete-button model="tour" entity="Tour" on-delete="delete" reduced="true" confirm="true"></oo-delete-button>
              </div>
              <div ng-show="tour.editable" class="pull-right">
                <oo-save-button model="tour" form="tourForm" entity="Tour" on-save="save" reduced="true"></oo-save-button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
