<div class="oo-vertriebsarten">
  <div class="row form-group">
    <h2 class="col-md-5" translate>Vertriebsarten <a role="button" ng-href="" ng-click="addVertriebsart()" ng-hide="readOnly" class="btn btn-default glyphicon glyphicon-plus"></a></h2>
  </div>
  <div class="row form-group">
    <div class="col-md-11">
      <oo-vertriebsart vertriebsart="abotyp.vertriebsarten[0]"></oo-vertriebsart>
    </div>
  </div>
  <div ng-repeat="vertriebsart in abotyp.vertriebsarten | limitTo : abotyp.vertriebsarten.length : 1">
    <div class="row form-group">
      <div class="col-md-11">
        <oo-vertriebsart vertriebsart="vertriebsart"></oo-vertriebsart>
      </div>
      <div class="col-md-1">
        <a role="button" ng-href="" ng-click="removeVertriebsart($index)" ng-hide="readOnly" class="btn btn-default glyphicon glyphicon-minus"></a>
      </div>
    </div>
  </div>
</div>
