<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">
      <span>
        <span translate>Rechnungen erstellen</span>
    </span>
  </h3>
  </div>
  <div class="panel-body">
    <form name="rechnungForm">
      <div class="row form-group">
        <div class="col-md-4">
          <label for="titel" translate>Titel</label>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" id="titel" ng-model="rechnungen.titel" required placeholder="{{'Titel'|translate}}" maxlength="30">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-4">
          <label for="rechnungsDatum" translate>Rechnungsdatum</label>
        </div>
        <div class="col-md-4">
          <p class="input-group">
            <input type="text" class="form-control input-date" datetime-picker="dd.MM.yyyy" ng-model="rechnungen.rechnungsDatum" is-open="open.rechnungsDatum" enable-time="false" max-date="rechnungen.rechnungsDatum" required/>
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'rechnungsDatum')"><i class="fa fa-calendar"></i></button>
          </span>
          </p>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label for="faelligkeitsDatum" translate>Fälligkeitsdatum</label>
        </div>
        <div class="col-md-4">
          <p class="input-group">
            <input type="text" class="form-control input-date" datetime-picker="dd.MM.yyyy" ng-model="rechnungen.faelligkeitsDatum" is-open="open.faelligkeitsDatum" enable-time="false" max-date="rechnungen.faelligkeitsDatum" required/>
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'faelligkeitsDatum')"><i class="fa fa-calendar"></i></button>
          </span>
          </p>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-12">
          <span class="pull-right">
            <a ng-if="!commandIssued" href="" role="button" ng-disabled="rechnungForm.$invalid" ng-click="batchCreate()" class="btn btn-primary"><i class="fa fa-share-square-o" aria-hidden="true"></i> <span translate>Erstellen</span></a>
            <a ng-if="!commandIssued" href="" role="button" ng-click="onClose()()" class="btn btn-danger"><i class="fa fa-times"></i> <span translate>Abbrechen</span></a>
            <a ng-if="commandIssued" href="" role="button" ng-click="jumpToRechnungen()" class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> {{batchCreated.rechnungsIds.length}} <span translate>Rechnungen anzeigen</span></a>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer" ng-if="(rechnungsPositionen.length - rechnungen.ids.length) > 0">
      {{rechnungsPositionen.length - rechnungen.ids.length}} <span translate> Rechnungspositionen sind nicht im Status 'Offen'</span>
  </div>
  <div class="panel-footer" ng-if="commandIssued">
    {{batchCreated.ids.length}} <span translate>von</span> {{rechnungen.ids.length}} <span translate> Rechnungspositionen wurden verarbeitet, {{rechnungen.ids.length - batchCreated.ids.length}} </span>
  </div>
</div>

