<div class="row">
  <div class="content content-box col-md-12">
    <div oo-error-overlay></div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><span class="navbar-brand" translate>Rechnungspositionen</span>
          <form class="navbar-form pull-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="{{'Suche in Übersicht...'|translate}}" ng-model="search.query">
              <oo-actions-button model="model" actions="actions">{{'Rechnung erstellen'|translate}}</oo-actions-button>
            </div>
          </form>
        </span>
        </h3>
      </div>
      <div class="panel-body">
        <div ng-hide="entries">
          <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
        </div>
        <div ng-show="entries" id="rechnungsPositionTable" display-export="true" export-file-name="RechnungsPositionen" class="horizontal-scroll">
          <script type="text/ng-template" id="headerCheckbox.html">
            <input type="checkbox" ng-model="checkboxes.checked" ng-class="checkboxes.css" value="" />
          </script>
          <table ng-table="tableParams" class="table table-striped" show-filter="{{showFilter && hasData()}}" template-pagination="scripts/common/ngtable/oo-ngtable-paginationTemplate.html" id="rechnungsPositionenTable">
            <tr ng-repeat="rechnungsPosition in $data | filter: search.query.$" id="selectedRow_{{rechnungsPosition.id}}">
              <td header="'headerCheckbox.html'">
                <input type="checkbox" ng-model="checkboxes.items[rechnungsPosition.id]" />
              </td>
              <td>
                <span role="button" ng-if="rechnungsPosition.fileStoreId">
                  <i ng-hide="rechnungsPosition.isDownloading" ng-click="downloadRechnung(rechnung)" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                  <i ng-show="rechnungsPosition.isDownloading" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
                </span>
                <span ng-repeat="fileId in rechnungsPosition.mahnungFileStoreIds" role="button" ng-if="rechnung.mahnungFileStoreIds && fileId !== ''">
                  <i ng-hide="rechnungsPosition.isDownloadingMahnung" ng-click="downloadMahnung(rechnungsPosition, fileId)" class="fa fa-file-pdf-o" aria-hidden="true" style="color:darkred"></i>
                  <i ng-show="rechnungsPosition.isDownloadingMahnung" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
                </span>
              </td>
              <td data-title="'Nr.'|translate" sortable="'id'">
                <a ng-click="selectRechnungsPosition(rechnungsPosition, 'selectedRow_' + rechnungsPosition.id)">{{rechnungsPosition.id}}  <i class="fa fa-chevron-right"></i></a>
              </td>
              <td data-title="'Abo'|translate" sortable="'aboId'">
                <a ng-show="rechnungsPosition.typ === 'Abo'" ng-href="#/abos?q=id%3D{{rechnungsPosition.aboId}}">{{rechnungsPosition.aboId}}</a>
                <a ng-show="rechnungsPosition.typ === 'ZusatzAbo'" ng-href="#/zusatzabos?q=id%3D{{rechnungsPosition.aboId}}">{{rechnungsPosition.aboId}}</a>
              </td>
              <td data-title="'Beschrieb'|translate" sortable="'titel'">
                {{rechnungsPosition.beschrieb}}
              </td>
              <td data-title="'Betrag'|translate" sortable="'betrag'">
                {{rechnungsPosition.betrag | ooCurrency:projekt.waehrung:true}}
              </td>
              <td data-title="'Status'|translate" sortable="'status'" filter="{status: 'select'}" filter-data="rechnungsPositionenStatus">
                {{rechnungsPosition.status}}
              </td>
              <td data-title="'Rechnungstyp'|translate" sortable="'typ'">
                {{rechnungsPosition.typ}}
              </td>
              <td data-title="'Anzahl Lieferungen'|translate" sortable="'anzahlLieferungen'">
                {{rechnungsPosition.anzahlLieferungen}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <oo-sliding-detail slide-in="selectedRechnungsPosition" slide-out-function="unselectRechnungsPositionFunct()">
    <oo-rechnungs-position-detail rechnungs-position="selectedRechnungsPosition" ng-if="selectedRechnungsPosition"></oo-rechnungs-position-detail>
  </oo-sliding-detail>

  <oo-sliding-detail slide-in="showCreateRechnungenDialog" slide-out-function="closeCreateRechnungenDialogFunct()">
    <oo-rechnungs-positionen-overview-create-rechnungen on-close="closeCreateRechnungenDialog" rechnungs-positionen="checkboxes.checkedItems"></oo-rechnungs-positionen-overview-create-rechnungen>
  </oo-sliding-detail>
</div>
