<div class="row">
<div class="content content-box col-md-9">
  <div oo-error-overlay></div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3  class="panel-title"><span class="navbar-brand" translate>Korbplanungen</span>
        <form class="navbar-form pull-right" role="search">
          <div class="form-group">
            <a role="button" href="#/korbplanung/UIdemo" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> <span translate>Neue Korplanung generieren</span></a>
          </div>
        </form>
      </span>
      </h3>
    </div>
    <div class="panel-body">
      <div ng-hide="entries">
        <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
      </div>
      <div ng-show="entries" id="kundeTable" display-export="true" export-file-name="Kunden">
        <table ng-table="tableParams" class="table table-striped" show-filter="{{showFilter && hasData()}}" template-pagination="scripts/common/ngtable/oo-ngtable-paginationTemplate.html">
          <tr ng-repeat="korplanung in $data">
            <td title="'#'|translate" sortable="'nr'">
              <a ng-href="#/korplanung/{{korplanung.id}}">{{korplanung.nr}}</a>
            </td>
            <td title="'Abotypen'|translate">
              <span ng-repeat="abotyp in korplanung.abotypen" class="badge">
                {{abotyp.name}} {{abotyp.lieferdatum}}
              </span>
            </td>
            <td title="'Depots / Touren'|translate">
              <span ng-repeat="tour in korplanung.touren" class="badge">
                {{tour.name}} {{tour.datum}}
              </span>
              <span ng-repeat="depot in korplanung.depots" class="badge">
                {{depot.name}} {{depot.datum}}
              </span>
            </td>
            <td title="'Status'|translate">
              <i ng-if="korplanung.status === 'abgeschlossen' || korplanung.status === 'verrechnet'" class="glyphicon glyphicon-ok"></i>
              <i ng-if="korplanung.aktiv  === 'inPlanung'" class="glyphicon glyphicon-remove"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
