<div class="row">
  <div class="content content-box col-md-12">
    <div oo-error-overlay></div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title"><span class="navbar-brand" translate>PersonenKategorien</span>
              <form name="createPersonCategoryForm" class="navbar-form pull-right">
                <div class="form-group" ng-class="{ 'has-error' : createPersonCategoryForm.personCategory.$invalid && createPersonCategoryForm.personCategory.$touched }" >
                  <input type="text" name="personCategory" class="form-control" ng-pattern="/^((?![,.;]).)*$/" placeholder="{{'personCategory Name...'|translate}}" ng-model="templatePersonCategory.personCategory" required>
                  <a ng-disabled="createPersonCategoryForm.$invalid || templatePersonCategory.creating" role="button" ng-href="" ng-click="addPersonCategory()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> <span translate>Erstellen</span><i ng-show="templatePersonCategory.creating" ng-cloak class="fa fa-circle-o-notch fa-spin"></i></a>
                  <a role="button" ng-click="savePersonCategories()" ng-disabled="templatePersonCategory.updating || !hasChangesPersonCategories()" class="btn btn-primary"><i class="fa fa-floppy-o"></i> <span translate>Speichern</span> <i ng-show="templatePersonCategory.updating" ng-cloak class="fa fa-circle-o-notch fa-spin"></i></a>
                </div>
              </form>
            </h3>
          </div>
          <div class="panel-body">
            <form name="settingsForm">
              <div ng-hide="personCategories">
                <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
              </div>
              <div ng-show="personCategories" class="horizontal-scroll">
                <table ng-table="personCategoriesTableParams" class="table table-striped">
                  <tr ng-repeat="personCategory in $data">
                    <td data-title="'PersonCategory'|translate" sortable="'personCategory'">
                      <input type="text" class="form-control" name="beschreibung" ng-model="personCategory.personCategory" ng-pattern="/^((?![,.;]).)*$/" placeholder="{{'personCategory'|translate}}..."  ng-change="modelChangedPersonCategory(personCategory)"></input>
                    </td>
                    <td data-title="'Beschreibung'|translate" sortable="'beschreibung'">
                      <textarea class="form-control" name="beschreibung" ng-model="personCategory.beschreibung" placeholder="{{'Beschreibung'|translate}}..."  ng-change="modelChangedPersonCategory(personCategory)"></textarea>
                    </td>
                    <td>
                      <a href="" ng-click="deletePersonCategory(personCategory)" ng-hide="deletingPersonCategory(personCategory)"><i class="fa fa-times"></i></a>
                       <i ng-show="deletingPersonCategory(personCategory)" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
                    </td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
