<div class="row">
  <div class="content content-box col-md-9">
    <div oo-error-overlay></div>
    <form name="settingsForm">
      <div class="col-md-12"><h3 translate>Projekteinstellungen</h3></div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title" translate>Kundentypen
              <div class="btn-group pull-right" role="group">
                <a role="button" ng-href="" ng-click="addKundentyp()" ng-hide="readOnly" class="btn btn-default glyphicon glyphicon-plus"></a>
              </div>
            </h3>
          </div>
          <div class="panel-body">
            <div ng-hide="kundentypen">
              <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
            </div>
            <div ng-show="kundentypen">
              <table ng-table="kundentypenTableParams" class="table table-striped">
                <tr ng-repeat="kundentyp in $data">
                  <td title="'Kundentyp'|translate" sortable="'kundentyp'">
                    {{kundentyp.kundentyp}}
                  </td>
                  <td title="'Beschreibung'|translate" sortable="'beschreibung'">
                    {{kundentyp.beschreibung}}
                  </td>
                  <td title="'# Verknüpfungen'|translate" sortable="'anzahlVerknuepfungen'">
                    {{kundentyp.anzahlVerknuepfungen}}
                  </td>
                  <td>
                    <a href="" ng-click="deleteKundentyp(kundentyp)"><i class="fa fa-times"></i></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
