<div class="row">
  <div class="content content-box col-md-9">
    <div oo-error-overlay></div>
      <div class="col-md-12"><h3 translate>Projekteinstellungen</h3></div>

      <form name="projektForm">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title">
                <span class="navbar-brand" translate>Stammdaten</span>
                <span class="pull-right" ng-if="!editMode">
                  <button ng-click="switchToEditMode()" class="btn btn-warning">
                    <i class="fa fa-pencil-square-o"></i>
                    <span translate>Einstellungen editieren</span>
                  </button>
                </span>
                <span class="pull-right" ng-if="editMode">
                  <oo-save-button model="projekt" form="projektForm" entity="Projekt" on-save="saveProjekt"><span translate>Stammdaten</span></oo-save-button>
                </span>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="bezeichnung" translate>Bezeichnung</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="bezeichnung" ng-disabled="!editMode" ng-model="projekt.bezeichnung" placeholder="{{'Name oder Bezeichnung'|translate}}" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="strasse" translate>Strasse / Nr.</label>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="strasse" ng-disabled="!editMode"  ng-model="projekt.strasse" placeholder="{{'Strasse'|translate}}" maxlength="30">
                </div>
                <div class="col-md-2">
                  <input type="text" class="form-control" id="hausNummer" ng-disabled="!editMode" ng-model="projekt.hausNummer" placeholder="{{'Nr'|translate}}" maxlength="10">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="adressZusatz" translate>Adresszusatz</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="adressZusatz" ng-disabled="!editMode" ng-model="projekt.adressZusatz" placeholder="{{'Postfach, c/o, ...'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="plz" translate>PLZ / Ort</label>
                </div>
                <div class="col-md-3">
                  <input type="text" pattern="[0-9]{4,5}" class="form-control" id="plz" ng-disabled="!editMode" ng-model="projekt.plz" placeholder="{{'PLZ'|translate}}" maxlength="5">
                </div>
                <div class="col-md-5">
                  <input type="text" class="form-control" id="ort" ng-disabled="!editMode" ng-model="projekt.ort" placeholder="{{'Ort'|translate}}" maxlength="35">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="waehrung" translate>Währung</label>
                </div>
                <div class="col-md-7">
                  <oo-dropdown dropdown-id="waehrung" disabled="!editMode" display-style="uib-dropdown" values="waehrungen" selected-prop="id" property="label" selected="projekt.waehrung" ng-required></oo-dropdown>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="geschaeftsjahr" translate>Start des Geschäftsjahres</label>
                </div>
                <div class="col-md-2">
                  <oo-dropdown dropdown-id="geschaeftsjahrTag" disabled="!editMode" display-style="uib-dropdown" values="tage" selected-prop="id" property="id" selected="projekt.geschaeftsjahrTag" ng-required></oo-dropdown>
                </div>
                <div class="col-md-5">
                  <oo-dropdown dropdown-id="geschaeftsjahrMonat" disabled="!editMode" display-style="uib-dropdown" values="monate" selected-prop="value" property="label" selected="projekt.geschaeftsjahrMonat" ng-required></oo-dropdown>
                </div>
              </div>
            </div>

            <div class="panel-heading clearfix">
              <h3 class="panel-title">
                <span class="navbar-brand" translate>Konfigurationen</span>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row form-group">
                <div class="col-md-8">
                  <label for="sprache" translate>Sprache</label>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="sprache" ng-model="projekt.sprache" ng-disabled="!editMode" placeholder="{{'Beispiel: de-CH'|translate}}" ng-pattern="localeBCP47Pattern">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-8">
                  <label for="preiseSichtbar" translate>Preise sichtbar / relevant</label>
                </div>
                <div class="col-md-4">
                  <input bs-switch switch-readonly="{{!editMode}}" ng-model="projekt.preiseSichtbar" type="checkbox" switch-size="medium" switch-animate="true" switch-on-text="{{'Ja'|translate}}" switch-off-text="{{'Nein'|translate}}" switch-on-color="success" switch-off-color="danger" switch-radio-off="false" ng-true-value="true" ng-false-value="false">
                </div>
              </div>
              <div class="row form-group" ng-show="projekt.preiseSichtbar">
                <div class="col-md-8">
                  <label for="preiseEditierbar" translate>Preise editierbar</label>
                </div>
                <div class="col-md-4">
                  <input bs-switch switch-readonly="{{!editMode}}" ng-model="projekt.preiseEditierbar" type="checkbox" switch-size="medium" switch-animate="true" switch-on-text="{{'Ja'|translate}}" switch-off-text="{{'Nein'|translate}}" switch-on-color="success" switch-off-color="danger" switch-radio-off="false" ng-true-value="true" ng-false-value="false">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-8">
                  <label for="emailErforderlich" translate>Kunden E-Mail erforderlich</label>
                </div>
                <div class="col-md-4">
                  <input bs-switch switch-readonly="{{!editMode}}" ng-model="projekt.emailErforderlich" type="checkbox" switch-size="medium" switch-animate="true" switch-on-text="{{'Ja'|translate}}" switch-off-text="{{'Nein'|translate}}" switch-on-color="success" switch-off-color="danger" switch-radio-off="false" ng-true-value="true" ng-false-value="false">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title"><span class="navbar-brand" translate>Dateien</span></h3>
          </div>
          <div class="panel-body">
            <div class="row form-group">
              <div class="col-md-2">
                <label for="logo" translate>Logo</label>
              </div>
              <div class="col-md-5" ng-if="logoUrl">
                <img http-src="{{logoUrl}}" />
              </div>
              <div class="col-md-5">
                <div class="button drop-box" ng-model="logoFile" name="logoFile" ngf-pattern="'image/*'"
                  ngf-accept="'image/*'" ngf-max-size="1MB" ngf-select="uploadLogo($file)" ngf-drop="uploadLogo($file)"
                  ngf-resize="{width: 200, height: 200}">
                  <span ng-if="!logoUrl" translate>Logo auswählen oder einfügen</span>
                  <span ng-if="logoUrl" translate>Ein neues Logo auswählen oder einfügen</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title"><span class="navbar-brand" translate>Kundentypen</span>
              <form name="createKundentypForm" class="navbar-form pull-right">
                <div class="form-group" ng-class="{ 'has-error' : createKundentypForm.kundentyp.$invalid && createKundentypForm.kundentyp.$touched }" >
                  <input type="text" name="kundentyp" class="form-control" ng-pattern="/^((?![,.;]).)*$/" placeholder="{{'Kundentyp Name...'|translate}}" ng-model="templateKundentyp.kundentyp" required>
                  <a ng-disabled="createKundentypForm.$invalid || templateKundentyp.creating" role="button" ng-href="" ng-click="addKundentyp()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> <span translate>Erstellen</span><i ng-show="templateKundentyp.creating" ng-cloak class="fa fa-circle-o-notch fa-spin"></i></a>
                  <a role="button" ng-click="saveKundentypen()" ng-disabled="templateKundentyp.updating || !hasChangesKundentypen()" class="btn btn-primary"><i class="fa fa-floppy-o"></i> <span translate>Speichern</span> <i ng-show="templateKundentyp.updating" ng-cloak class="fa fa-circle-o-notch fa-spin"></i></a>
                </div>
              </form>
            </h3>
          </div>
          <div class="panel-body">
            <form name="settingsForm">
              <div ng-hide="kundentypen">
                <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
              </div>
              <div ng-show="kundentypen">
                <table ng-table="kundentypenTableParams" class="table table-striped">
                  <tr ng-repeat="kundentyp in $data">
                    <td data-title="'Kundentyp'|translate" sortable="'kundentyp'">
                      {{kundentyp.kundentyp}}
                    </td>
                    <td data-title="'Beschreibung'|translate" sortable="'beschreibung'">
                      <textarea class="form-control" name="beschreibung" ng-model="kundentyp.beschreibung" placeholder="{{'Beschreibung'|translate}}..."  ng-change="modelChangedKundentyp(kundentyp)"></textarea>
                    </td>
                    <td data-title="'# Verknüpfungen'|translate" sortable="'anzahlVerknuepfungen'">
                      {{kundentyp.anzahlVerknuepfungen}}
                    </td>
                    <td>
                      <a href="" ng-click="deleteKundentyp(kundentyp)" ng-hide="deletingKundentyp(kundentyp)"><i class="fa fa-times"></i></a>
                       <i ng-show="deletingKundentyp(kundentyp)" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
                    </td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title"><span class="navbar-brand" translate>Produktekategorien</span>
              <form name="createProduktekategorieForm" class="navbar-form pull-right">
                <div class="form-group" ng-class="{ 'has-error' : createProduktekategorieForm.produktekategorie.$invalid && createProduktekategorieForm.produktekategorie.$touched }" >
                  <input type="text" name="produktekategorie" class="form-control" ng-pattern="/^((?![,.;]).)*$/" placeholder="{{'Produktekategorie Name...'|translate}}" ng-model="templateProduktekategorie.produktekategorie" required>
                  <a ng-disabled="createProduktekategorieForm.$invalid || templateProduktekategorie.creating" role="button" ng-href="" ng-click="addProduktekategorie()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> <span translate>Erstellen</span><i ng-show="templateProduktekategorie.creating" ng-cloak class="fa fa-circle-o-notch fa-spin"></i></a>
                  <a role="button" ng-click="saveProduktekategorie()" ng-disabled="settingsForm.$invalid || templateProduktekategorie.updating || !hasChangesProduktekategorien()" class="btn btn-primary"><i class="fa fa-floppy-o"></i> <span translate>Speichern</span> <i ng-show="templateProduktekategorie.updating" ng-cloak class="fa fa-circle-o-notch fa-spin"></i></a>
                </div>
              </form>
            </h3>
          </div>
          <div class="panel-body">
            <form name="settingsForm">
              <div ng-hide="produktekategorien">
                <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
              </div>
              <div ng-show="produktekategorien">
                <table ng-table="produktekategorienTableParams" class="table table-striped">
                  <tr ng-repeat="produktekategorie in $data">
                    <td data-title="'Bezeichnung'|translate" sortable="'beschreibung'">
                      <input type="text" class="form-control" name="beschreibung" ng-model="produktekategorie.beschreibung" ng-pattern="/^((?![,.;]).)*$/" placeholder="{{'Beschreibung'|translate}}..."  ng-change="modelChangedProduktekategorie(produktekategorie)"></input>
                    </td>
                    <td>
                      <a href="" ng-click="deleteProduktekategorie(produktekategorie)" ng-hide="deletingProduktekategorie(produktekategorie)"><i class="fa fa-times"></i></a>
                       <i ng-show="deletingProduktekategorie(produktekategorie)" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
                    </td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>

  </div>
</div>
