<div class="row">
  <div class="content content-box col-md-9">
    <div oo-error-overlay></div>
    <form name="produzentForm">
      <div class="row">
        <div class="col-md-12">
          <div class="row form-group">
            <h3>
              <div class="col-md-2" translate>
                Produzent
              </div>
              <div class="col-md-10">
                <div class="btn-group pull-right" role="group">
                  <oo-save-button model="produzent" form="produzentForm" entity="Produzent" on-save="save" on-cancel="backToList" on-created="created">{{produzentBezeichnung() || 'Produzent'|translate}}</oo-save-button>
                  <oo-delete-button ng-if="!angular.isUndefined(produzent) && !angular.isUndefined(produzent.id)" model="produzent" entity="Produzent" on-delete="delete" on-deleted="backToList" confirm="true"></oo-delete-button>
                </div>
              </div>
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title"><span class="navbar-brand" translate>Basisdaten</span></h3>
            </div>
            <div id="apartner_{{$index}}" class="panel-body" >
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="bank" translate>Aktiv</label>
                </div>
                <div class="col-md-8">
                  <input bs-switch ng-model="produzent.aktiv" type="checkbox" switch-size="medium" switch-animate="true" switch-on-text="{{'Aktiv'|translate}}" switch-off-text="{{'Inaktiv'|translate}}" switch-on-color="success" switch-off-color="danger" switch-radio-off="false" ng-true-value="true" ng-false-value="false">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="vorname" translate>Kurzzeichen</label>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" name="kurzzeichen" ng-model="produzent.kurzzeichen" placeholder="{{'KRZ'|translate}}" auto-focus required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="name" translate>Name / Betrieb</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="name" ng-model="produzent.name" placeholder="{{'Name oder Betriebsbezeichnung'|translate}}" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="vorname" translate>Vorname</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="vorname" ng-model="produzent.vorname" placeholder="{{'Vorname'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="iban" translate>IBAN</label>
                </div>
                <div class="col-md-7">
                  <input type="text" class="form-control" name="iban" ng-model="produzent.iban" placeholder="{{'CH...'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="bank" translate>Bank</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="bank" ng-model="produzent.bank" placeholder="{{'Bank, PLZ Ort'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="bemerkungen" translate>Bemerkungen</label>
                </div>
                <div class="col-md-8">
                  <textarea class="form-control" name="bemerkungen" ng-model="produzent.bemerkungen" placeholder="{{'Bemerkungen zu diesem Produzenten'|translate}}"></textarea>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="bank" translate>MWST-Pflicht</label>
                </div>
                <div class="col-md-8">
                  <input bs-switch ng-model="produzent.mwst" type="checkbox" switch-size="medium" switch-animate="true" switch-on-text="{{'Ja'|translate}}" switch-off-text="{{'Nein'|translate}}" switch-on-color="success" switch-off-color="danger" switch-radio-off="false" ng-true-value="true" ng-false-value="false">
                </div>
              </div>
              <div class="row form-group" ng-if="produzent.mwst">
                <div class="col-md-4">
                  <label for="bank" translate>MWST-Satz</label>
                </div>
                <div class="col-md-4">
                  <div class="input-group">
                    <input type="number" placeholder="{{'2.0'|translate}}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-required="produzent.mwst" step="0.1" class="form-control" name="mwstsatz" ng-model="produzent.mwstSatz"></input>
                    <div class="input-group-addon">{{'%'|translate}}</div>
                  </div>
                </div>
              </div>
              <div class="row form-group" ng-if="produzent.mwst">
                <div class="col-md-4">
                  <label for="bemerkungen" translate>MWST-Nr</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="mwstNr" ng-model="produzent.mwstNr" ng-required="produzent.mwst" placeholder="{{'CHE-xxx.yyy.zzz MWST '|translate}}">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title"><span class="navbar-brand" translate>Kontaktdaten</span></h3>
            </div>
            <div class="panel-body">
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="strasse" translate>Strasse / Nr.</label>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="strasse" ng-model="produzent.strasse" placeholder="{{'Strasse'|translate}}" maxlength="30">
                </div>
                <div class="col-md-2">
                  <input type="text" class="form-control" id="hausNummer" ng-model="produzent.hausNummer" placeholder="{{'Nr'|translate}}" maxlength="10">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="adressZusatz" translate>Adresszusatz</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="adressZusatz" ng-model="produzent.adressZusatz" placeholder="{{'Postfach, Etage, c/o, ...'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="plz" translate>PLZ / Ort</label>
                </div>
                <div class="col-md-3">
                  <input type="text" pattern="[0-9]{4,5}" class="form-control" id="plz" ng-model="produzent.plz" required placeholder="{{'PLZ'|translate}}" maxlength="5">
                </div>
                <div class="col-md-5">
                  <input type="text" class="form-control" id="ort" ng-model="produzent.ort" required placeholder="{{'Ort'|translate}}" maxlength="35">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="email" translate>Email</label>
                </div>
                <div class="col-md-8">
                  <input type="email" class="form-control" name="email" ng-model="produzent.email" placeholder="{{'E-Mail'|translate}}" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="telefonMobil" translate>Telefon Mobil</label>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" name="telefonMobil" ng-model="produzent.telefonMobil" placeholder="{{'+41 7...'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="telefonFestnetz" translate>Telefon Festnetz</label>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" name="telefonFestnetz" ng-model="produzent.telefonFestnetz" placeholder="{{'+41 ...'|translate}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
