<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>OpenOlitor</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(app) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.css" />
  <link rel="stylesheet" href="bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css" />
  <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/font-awsome/css/font-awesome.css" />
  <!-- endbuild -->

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body class="white" ng-app="openolitor">
  <div id="container">
    <div>
      <div class="admin-ch-header">
        <a href="/" class="brand hidden-xs" id="logo" title="OpenOlitor">
          <h2 translate>OpenOlitor</h2>
          <br>
        </a>
        <nav id="metanav" role="navigation">
          <ul class="hnav clearfix" id="langnav">
            <li class="hor-nav"><a role="button" ng-click="$root.changeLang('de')" title="Deutsch" ng-class="{active: activeLang() === 'de'}">DE</a></li>
            <li class="hor-nav"><a role="button" ng-click="$root.changeLang('fr')" title="Français" ng-class="{active: activeLang() === 'fr'}">FR</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <nav role="navigation" class="clearfix headsep" id="mainnav">
      <h2 class="visuallyhidden">Navigation</h2>
      <ul class="hnav hidden-phone nav">
        <li id="globalnav-item-eichreg" class="">
          <a href="" ng-href="#/abotypen" translate>Abotypen</span></a>
        </li>
      </ul>
    </nav>

    <!--[if lt IE 9]>
        <p class="browsehappy" translate>Sie nutzen einen <strong>alten</strong> Browser. Bitte <a href="http://browsehappy.com/">installieren</a> Sie einen aktuelle Brwoser. So stellen Sie sicher, dass dies Webseite wie beabsichtigt funktioniert.</p>
    <![endif]-->

    <div class="container">

      <div ng-view=""></div>

    </div>
  </div>

  <!-- build:js(.) scripts/oldieshim.js -->
  <!--[if lt IE 9]>
    <script src="vendor/es5-shim/es5-shim.js"></script>
    <script src="vendor/json3/lib/json3.min.js"></script>
    <![endif]-->
  <!-- endbuild -->

  <!-- build:js(app) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-base64/angular-base64.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
  <script src="bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
  <script src="bower_components/angular-cookie/angular-cookie.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
  <script src="bower_components/angular-loader/angular-loader.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>
  <script src="bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
  <script src="bower_components/ng-table-export/ng-table-export.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- language specific angular file -->
  <script src="https://code.angularjs.org/1.4.7/i18n/angular-locale_de-ch.js"></script>

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/common/filters/oo-preisproeinheit.filter.js"></script>
  <script src="scripts/abotypen/abotypenoverview.model.js"></script>
  <script src="scripts/abotypen/abotypenoverview.controller.js"></script>
  <!-- endbuild -->
</body>

</html>
