<div class="panel panel-default">
  <div class="panel-heading panel-heading-detail clearfix">
    <h3 class="panel-title">
      <span class="navbar-brand noLeftSpace"><span translate>Abo</span> #{{abo.id}}</span>
      <span class="pull-right">
        <span ng-show="loading || template.updating"><i class="fa fa-circle-o-notch fa-spin"></i></span>
        <div uib-dropdown class="navbar-form noRightSpace btn-group" role="group">
          <oo-actions-button model="abo" form="aboDetailForm" entities="ABOTYPEN_ARRAY" actions="actions">{{'Abo'|translate}}</oo-actions-button>
        </div>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <script type="text/ng-template" id="kuendigungsterminTooltipTemplate.html">
      <span translate>Die Kündigung muss bis spätestens am <b>{{kuendigungsfrist(abo) | date: 'EEE, dd.MM.yyyy'}}</b> eingereicht werden</span>
    </script>
    <form name="aboDetailForm">
      <div class="row form-group">
        <div class="col-md-12">
          <div class="alert alert-info" role="alert"  ng-if="abo.ende === undefined && abo.abotyp.laufzeiteinheit === 'Unbeschraenkt'">
            {{'Nächster Kündigungstermin:'|translate}} <b>{{kuendigungstermin(abo) | date: 'dd.MM.yyyy'}}</b>
            <i class="fa fa-info-circle" aria-hidden="true" ng-if="abo.ende === undefined && abo.abotyp.kuendigungsfrist" uib-tooltip-template="'kuendigungsterminTooltipTemplate.html'"></i>
          </div>
          <div class="alert alert-info" role="alert"  ng-if="abo.ende === undefined && abo.abotyp.laufzeiteinheit === 'Lieferungen' && abo.guthabenVertraglich > 0">
            {{'Gültig für'|translate}} <b>{{abo.guthabenVertraglich}}</b> {{'Lieferungen'|translate}}
          </div>
          <div class="alert alert-danger" role="alert" ng-if="abo.ende === undefined && abo.abotyp.laufzeiteinheit === 'Lieferungen' && abo.guthabenVertraglich === 0" translate>
            Keine Lieferungen mehr ausstehend
          </div>
          <div class="alert alert-danger" role="alert" ng-if="!abo.aktiv" translate>
            Dieses Abo ist inaktiv
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label translate>Kunde</label>
        </div>
        <div class="col-md-8">{{kunde.bezeichnung}}</div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label translate>Abotyp</label>
        </div>
        <div class="col-md-8">{{abo.abotypName}}</div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label translate>Vertriebsart</label>
        </div>
        <div class="col-md-8">{{vertriebsart()}} - {{abo.vertrieb.liefertag |translate}}</div>
      </div>
      <div class="row form-group" ng-if="abo.depotName">
        <div class="col-md-4">
          <label translate>Depot</label>
        </div>
        <div class="col-md-8">{{abo.depotName}}</div>
      </div>
      <div class="row form-group" ng-if="abo.tourName">
        <div class="col-md-4">
          <label translate>Tour</label>
        </div>
        <div class="col-md-8">{{abo.tourName}}</div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label translate>Laufzeit</label>
        </div>
        <div class="col-md-4">
          <p class="input-group">
            <input type="text" class="form-control input-date" localdate datetime-picker="dd.MM.yyyy" ng-model="abo.start" is-open="open.start" enable-time="false" max-date="abo.ende" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'start')"><i class="fa fa-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-offset-4 col-md-4">
          <p class="input-group">
            <input type="text" class="form-control input-date" localdate datetime-picker="dd.MM.yyyy" ng-model="abo.ende" is-open="open.ende" enable-time="false" min-date="abo.start" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'ende')"><i class="fa fa-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label translate>Guthaben</label>
        </div>
        <div class="col-md-8">
          <span ng-class="guthabenClass(abo)">{{aboGuthaben(abo)}}</span>
          <span class="fa fa-info-circle" aria-hidden="true" tooltip-popup-close-delay="500" uib-tooltip-html="guthabenTooltip(abo)"></span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label translate>Letzte Lieferung</label>
        </div>
        <div class="col-md-4">{{abo.letzteLieferung | date: 'dd.MM.yyyy'}}</div>
        <div class="col-md-4">
          <span class="pull-right">
            <a data-toggle="collapse" data-target="#abolieferungen_{{abo.id}}" class="btn btn-default">
              <span translate>Alle</span>&nbsp;<i class="fa fa-angle-down"></i>
            </a>
          </span>
        </div>
      </div>
      <div id="abolieferungen_{{abo.id}}" class="row form-group panel-collapse collapse">
        <div class="col-md-12">
          <label translate>Lieferungen</label>
        </div>
        <div class="col-md-12">
          <table ng-table="koerbeTableParams" class="table table-striped" show-filter="false" template-pagination="scripts/common/ngtable/oo-ngtable-noPaginationTemplate.html">
            <tr ng-repeat="korb in $data | orderBy:'-korb.lieferung.datum'">
              <td data-title="'Datum'|translate">
                {{korb.lieferung.datum|date:"EEE, dd.MM.yyyy"}}
              </td>
              <td data-title="'Lieferstatus'|translate">
                <i class="glyphicon fa-battery-empty" ng-show="korb.status === 'FaelltAusSaldoZuTief'" title="{{'Saldo zu tief'|translate}}"></i>
                <i class="glyphicon glyphicon-globe" ng-show="korb.status === 'FaelltAusAbwesend'" title="{{'Abwesend'|translate}}"></i>
                <i class="glyphicon glyphicon-check" ng-show="korb.status === 'Geliefert'" title="{{'Geliefert'|translate}}"></i>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-8">
          <label translate>Available zusatzabo</label>
        </div>
        <div class="col-md-4">
          <span class="pull-right">
                <oo-dropdown dropdown-id="zusatzAboTypDropdown" display-style="uib-dropdown" values="zusatzAboTyp" selected-prop="id" property="name" selected-function="newZusatzAbo" required></oo-dropdown>
          </span>
        </div>
        <div class="col-md-12" ng-if="zusatzAbos.length === 0" translate>Kein Zusatzabo vorhanden.</div>

        <div class="col-md-12">
          <div ng-repeat="zusatzAbo in zusatzAbos">
          <hr>
          <div class="col-md-3"> {{zusatzAbo.abotypName}} </div>
          <div class="col-md-5">
              <p class="input-group">
                <input type="text" class="form-control input-date" localdate datetime-picker="dd.MM.yyyy" ng-model="zusatzAbo.start" is-open="openZusatzAbo.start[zusatzAbo.id]" enable-time="false" max-date="abo.ende" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openCalendarZusatzAbo($event,zusatzAbo.id, 'start')"><i class="fa fa-calendar"></i></button>
            </span>
          </p>
          </div>
          <div class="col-md-4">
            <div class="pull-right btn-group">
<oo-delete-button model="zusatzAbo" entity="ZusatzAbo" on-delete="deleteZusatzAbo" condensed="true" confirm="true"></oo-delete-button>
            </div>
            <div class="pull-right btn-group">
              <oo-save-button model="zusatzAbo" form="zusatzAboForm" entity="ZusatzAbo" on-save="saveZusatzAbo" condensed="true"></oo-save-button>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-3">
              <p class="input-group">
                <input type="text" class="form-control input-date" localdate datetime-picker="dd.MM.yyyy" ng-model="zusatzAbo.ende" is-open="openZusatzAbo.ende[zusatzAbo.id]" enable-time="false" max-date="abo.ende" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openCalendarZusatzAbo($event,zusatzAbo.id ,'ende')"><i class="fa fa-calendar"></i></button>
            </span>
          </p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <hr>
      </div>

      </div>
      <oo-abo-abwesenheiten abo="abo"></oo-abo-abwesenheiten>
    </form>
  </div>
</div>
