<div>
  <h1><span translate>Abo für</span> {{person.vorname}} {{person.name}}</h1>
</div>
<form name="aboForm">
  <div>
    <div class="row form-group">
      <div class="col-md-2">
        <label for="abotyp" translate>Abotyp</label>
      </div>
      <div class="col-md-8">
        <oo-dropdown dropdown-id="abotyp" display-style="uib-dropdown" values="abotypen" property="name" selected-prop="id" selected="abo.abotypId"></oo-dropdown>
      </div>
    </div>
    <div ng-if="abotyp" class="row form-group">
      <div class="col-md-12">
        <div ng-include="'scripts/abotypen/detail/vertriebsarten/oo-vertriebsart-selection.html'"></div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-4">
        <oo-save-button model="abo" form="aboForm" entity="Abo" on-save="save" on-cancel="cancel" on-created="created">{{fullName() || 'Abo'|translate}}</oo-save-button>
      </div>
      <div class="col-md-8" ng-if="isExisting()">
        <oo-delete-button model="abo" entity="Abo" on-delete="delete" redirect-on-delete="/abos"></oo-delete-button>
      </div>
    </div>
  </div>
</form>
