<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">
      <div class="navbar-brand">
        <span>{{title|translate}}</span>
      </div>
      <form name="createVorlageForm" class="navbar-form pull-right">
        <div class="form-group" ng-class="{ 'has-error' : createVorlageForm.name.$invalid && createVorlageForm.name.$touched }" >
          <input type="text" name="name" class="form-control" ng-pattern="/^((?![,.;]).)*$/" placeholder="{{'Vorlagen Name...'|translate}}" ng-model="template.name" required>
          <a ng-disabled="createVorlageForm.$invalid || template.creating" role="button" ng-href="" ng-click="addVorlage()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> <span translate>Erstellen</span><i ng-show="template.creating" ng-cloak class="fa fa-circle-o-notch fa-spin"></i></a>
        </div>
      </form>
    </h3>
  </div>
  <div class="panel-body">
    <table ng-table="tableParams" class="table table-striped table-condensed">
      <tr ng-repeat="vorlage in $data">
        <td>
          <a ng-disabled="vorlage.downloading" ng-show="vorlage.fileStoreId || vorlage.default" ng-click="downloadVorlage(vorlage)" role="button" class="btn btn-sm btn-primary">
            <i  ng-hide="vorlage.downloading" class="fa fa-download" aria-hidden="true"></i> <i ng-show="vorlage.downloading" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
          </span>
        </td>
        <td data-title="'Name'|translate">
          <span ng-hide="vorlage.editing || vorlage.default">{{vorlage.name}}</span>
          <span ng-show="vorlage.default"><b>{{vorlage.name}}</b></span>
          <input type="text" name="name" ng-model="vorlage.name" ng-show="vorlage.editing">
        </td>
        <td data-title="'Beschreibung'|translate">
          <span ng-hide="vorlage.editing">{{vorlage.beschreibung}}</span>
          <textarea class="form-control" name="beschreibung" ng-show="vorlage.editing" ng-model="vorlage.beschreibung" placeholder="{{'Beschreibung'|translate}}..."  ng-change="modelChangedKundentyp(kundentyp)"></textarea>
        </td>
        <td>
          <div class="pull-right">
            <a ng-hide="vorlage.editing" ng-disabled="vorlage.uploading" role="button" class="btn btn-sm btn-primary" class="btn btn-sm btn-sm-primary" ng-model="vorlage.file" name="file" ngf-pattern="'.odt'"
              ngf-accept="'.odt'" ngf-max-size="10MB" ngf-select="uploadVorlage(vorlage, $file)" ngf-drop="uploadVorlage(vorlage, $file)">
              <i ng-hide="vorlage.uploading" class="fa fa-upload" aria-hidden="true"></i>
              <i ng-show="vorlage.uploading" class="fa fa-circle-o-notch fa-spin"></i>
            </a>
            <a ng-disabled="inProgress(vorlage)" href="" role="button" class="btn btn-sm btn-primary" ng-click="editVorlage(vorlage)" ng-hide="vorlage.editing || vorlage.default"><i class="fa fa-pencil-square-o"></i></a>
            <a ng-disabled="inProgress(vorlage)" href="" role="button" class="btn btn-sm btn-primary"ng-click="saveVorlage(vorlage)" ng-show="vorlage.editing"><i ng-hide="vorlage.updateing" class="fa fa-floppy-o"></i><i ng-show="vorlage.updateing" class="fa fa-circle-o-notch fa-spin"></i></a>
            <a ng-disabled="inProgress(vorlage)" href="" role="button" class="btn btn-sm btn-danger" ng-click="deleteVorlage(vorlage)" ng-hide="vorlage.editing || vorlage.default"><i ng-hide="vorlage.deleting" class="fa fa-times"></i><i ng-show="vorlage.deleting" class="fa fa-circle-o-notch fa-spin"></i></a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
