<div class="row">
  <div class="content content-box col-md-12">
    <div oo-error-overlay></div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><span class="navbar-brand" translate>Zahlungs-Exports</span>
        <form class="navbar-form pull-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{'Suche in Übersicht...'|translate}}" ng-model="search.query">
          </div>
        </form>
      </span>
      </h3>
      </div>
      <div class="panel-body">
        <div ng-hide="entries">
          <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
        </div>
        <div ng-show="entries" id="zahlungsExportsTable" display-export="true" export-file-name="ZahlungsExports">
          <table ng-table="tableParams" class="table table-striped" show-filter="{{showFilter && hasData()}}" template-pagination="scripts/common/ngtable/oo-ngtable-paginationTemplate.html">
            <tr ng-repeat="zahlungsExport in $data | filter: search.query.$">
              <td data-title="'Nr.'|translate" sortable="'erstelldat'">
                {{zahlungsExport.id}}
              </td>
              <td data-title="'Datei'|translate" sortable="'erstelldat'">
                  <a ng-click="download(zahlungsExport.id)">Download</a>
              </td>
              <td data-title="'Rechnungen'|translate" sortable="'erstelldat'"> <a ng-click="createRechnungenLink(zahlungsExport.rechnungen)" translate> Rechnungen anzeigen</a>
              </td>
              <td data-title="'Status'|translate" sortable="'status'">
                <oo-dropdown dropdown-id="zahlungsExportStatus" display-style="uib-dropdown" values="zahlungsExportStatus" selected-value="zahlungsExport.status" selected-function="saveStatusFunc(zahlungsExport.id)"></oo-dropdown>
              </td>
              <td data-title="'Erstelldat'|translate" sortable="'erstelldat'">
                {{zahlungsExport.erstelldat|date}}
              </td>
            </tr>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
