<div class="modal-header">
  <h3 translate>Arbeitsangebot duplizieren</h3>
</div>
<div class="modal-body">
  <div class="form-group row">
   <span class="col-md-offset-4 col-md-2"><label for="end" class="form-label" translate>Rythmus</label></span>
   <span class="col-md-5">
     <oo-dropdown dropdown-id="rhythmus" display-style="uib-dropdown" values="rhythmen" selected-prop="id" property="label" selected-value="rhythmus" ng-required></oo-dropdown>
   </span>
  </div>
  <div ng-show="isNotIrregular()">
    <!-- Von bis -->
    <div class="form-group row">
      <span class="col-md-4" translate>Zeitraum</span>
      <span class="col-md-2"><label for="start" class="form-label" translate>Von</label></span>
      <span class="col-md-5">
        <p class="input-group">
        <input type="text" class="form-control input-date" localdate datetime-picker="dd.MM.yyyy" ng-model="von" is-open="open.von" enable-time="false" max-date="bis" min-date="initVon" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'von')"><i class="fa fa-calendar"></i></button>
        </span>
        </p>
      </span>
    </div>
    <div class="row">
      <span class="col-md-offset-4 col-md-2"><label for="end" class="form-label" translate>Bis</label></span>
      <span class="col-md-5">
        <p class="input-group">
        <input type="text" class="form-control input-date" localdate datetime-picker="dd.MM.yyyy" ng-model="bis" is-open="open.bis" enable-time="false" min-date="von" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'bis')"><i class="fa fa-calendar"></i></button>
        </span>
        </p>
      </span>
    </div>
  </div>
  <div ng-hide="isNotIrregular()">
    <div class="form-group row">
      <span class="col-md-offset-3 col-md-3"><label for="end" class="form-label" translate>Datum wählen</label></span>
      <span  class="col-md-6">
        <p  class="input-group">
        <input type="text" class="form-control input-date" localdate datetime-picker="dd.MM.yyyy" ng-model="irregular" is-open="open.irregular" enable-time="false"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'irregular')"><i class="fa fa-calendar"></i></button>
        </span>
        </p>
      </span>
    </div>
  </div>
  <!-- Berechnete daten -->
  <div class="form-group row">
    <span class="col-md-12">
      <span ng-repeat="datum in daten" class="badge">
        {{datum|date:"dd.MM.yyyy"}}<a href="" ng-click="deleteDatum(datum)"><i class="glyphicon glyphicon-remove"></i></a>
      </span>
    </span>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-if="daten.length > 0" ng-click="ok()" translate>Arbeitsangebote erstellen</button>
    <button class="btn btn-warning" ng-click="cancel()" translate>Abbrechen</button>
</div>
