<div class="row form-group">
  <div class="col-md-4">
    <label for="strasse" translate>Kunde Nr.</label>
  </div>
  <div class="col-md-8">
    <input type="text" class="form-control" id="id" ng-model="kunde.id" disabled="true">
  </div>
</div>
<div class="row form-group" ng-if="kunde.ansprechpersonen.length > 1">
  <div class="col-md-4">
    <label for="bezeichnung" translate>Anschrift</label>
  </div>
  <div class="col-md-8">
    <input type="text" class="form-control" name="bezeichnung" ng-model="kunde.bezeichnung" placeholder="{{'Anschrift oder Bezeichnung'|translate}}" required>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-4">
    <label for="strasse" translate>Strasse / Nr.</label>
  </div>
  <div class="col-md-6">
    <input type="text" class="form-control" id="strasse" ng-model="kunde.strasse" ng-required="!kunde.postfach" placeholder="{{'Strasse'|translate}}" maxlength="30">
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" id="hausNummer" ng-model="kunde.hausNummer" placeholder="{{'Nr'|translate}}" maxlength="10">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-4">
    <label for="adressZusatz" translate>Adresszusatz</label>
  </div>
  <div class="col-md-8">
    <input type="text" class="form-control" name="adressZusatz" ng-model="kunde.adressZusatz" placeholder="{{'Postfach, c/o, ...'|translate}}">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-4">
    <label for="plz" translate>PLZ / Ort</label>
  </div>
  <div class="col-md-3">
    <input type="text" pattern="[0-9]{4,5}" class="form-control" id="plz" ng-model="kunde.plz" required placeholder="{{'PLZ'|translate}}" maxlength="5">
  </div>
  <div class="col-md-5">
    <input type="text" class="form-control" id="ort" ng-model="kunde.ort" required placeholder="{{'Ort'|translate}}" maxlength="35">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-4">
    <label for="bemerkungen" translate>Bemerkungen</label>
  </div>
  <div class="col-md-8">
    <textarea class="form-control" name="bemerkungen" ng-model="kunde.bemerkungen" placeholder="{{'Bemerkungen'|translate}}..."></textarea>
  </div>
</div>
