<span>
  <div class="btn-group">
    <button ng-click="executeAction(actions[0])" ng-disabled="actions[0].isDisabled() || form.$invalid || model.actionInProgress" type="button" class="btn btn-primary">
      <i class="{{ actions[0].iconClass ? actions[0].iconClass : 'fa fa-floppy-o'}}"></i>
      <span ng-if="!notext && !actions[0].noText && !actions[0].noEntityText">{{entity | translate}}</span>
      <span ng-if="!notext && !actions[0].noText">{{actions[0].labelFunction() || actions[0].label | translate}}</span>
<i ng-show="model.actionInProgress === 'updating'" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
</button>
<button ng-disabled="actions.length < 2 || model.actionInProgress" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only" translate>Weitere Aktionen</span> </button>

<ul ng-if="actions.length > 1" class="dropdown-menu">
  <li ng-if="!$first" ng-repeat="action in actions" ng-class="{disabled: action.isDisabled()}">
    <a href="" ng-click="!action.isDisabled() && executeAction(action)">
      <i class="{{ action.iconClass ? action.iconClass : 'fa fa-floppy-o'}}"></i>
      <span ng-if="!notext && !actions.noText && !action.noEntityText">{{entity | translate}}</span>
      <span ng-if="!notext && !action.noText">{{action.label | translate}}</span>
    </a>
  </li>
</ul>
</div>
</span>
