<span>
  <div ng-if="label" class="navbar-header navbar-brand">{{label}}</div>
  <ul ng-if="displayStyle === 'navbar'" class="nav navbar-nav">
    <li uib-dropdown class="uib-dropdown">
      <a href="#" uib-dropdown-toggle class="uib-dropdown-toggle" data-toggle="uib-dropdown" data-target="#" role="button" aria-haspopup="true" aria-expanded="false" ng-disabled="disabled">
        <span ng-if="!isPlaceholder">{{display}}</span>
        <span class="placeholder" ng-if="isPlaceholder">{{placeholder}}</span>
        <span class="caret"></span>
      </a>
      <ul class="uib-dropdown-menu" role="menu" area-labeled-by="{{dropdownId}}">
        <li ng-repeat="item in values" role="menuitem">
          <a href="" ng-click="select(item)">{{getDisplayedText(item)}}</a>
        </li>
      </ul>
    </li>
  </ul>

  <div ng-if="displayStyle === 'uib-dropdown'" uib-dropdown>
    <button type="button" uib-dropdown-toggle class="btn btn-default uib-dropdown-toggle" ng-class="getClass()" data-toggle="uib-dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="disabled">
      <span ng-if="!isPlaceholder">{{display}}</span>
      <span class="placeholder" ng-if="isPlaceholder">{{placeholder}}</span>
      <span class="caret"></span>
    </button>
    <ul class="uib-dropdown-menu" role="menu" area-labeled-by="{{dropdownId}}">
      <li ng-repeat="item in values" role="menuitem">
        <a href="" ng-click="select(item)">{{getDisplayedText(item)}}</a>
      </li>
    </ul>
  </div>
</span>
