<div class="btn-group" data-toggle="buttons">
  <label ng-repeat="kundentyp in kundentypenList" class="btn btn-primary btn-sm">{{kundentyp}} <i ng-if="kundentypenList.length > 1" class="fa fa-times" ng-click="removeKundentyp(kundentyp)"></i></label>
  <div class="btn-group" role="group">
    <button ng-show="kundentypen.length > 0"  class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" >
      <li ng-repeat="kundentyp in kundentypen"><a href="" ng-click="addKundentyp(kundentyp)">{{kundentyp}}</a></li>
    </ul>
  </div>
</div>
