<span>
  <button ng-click="save()" ng-disabled="form.$invalid || model.actionInProgress" class="btn btn-primary" ng-class="{'btn-sm':small}">
    <i class="fa fa-floppy-o"></i>
    <span ng-transclude></span>
    <span ng-if="!notext && isNew()" translate>erstellen</span>
    <span ng-if="!notext && !isNew()" translate>speichern</span>
    <i ng-show="model.actionInProgress === 'updating'" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
  </button>
<!--button ng-click="cancel()" ng-disabled="model.actionInProgress" class="btn btn-default" translate>Abbrechen</button-->
</span>
