<div class="row">
  <div class="content content-box col-md-9">
    <div oo-error-overlay></div>
    <form name="rechnungForm">
      <div class="row">
        <div class="col-md-12">
          <div class="row form-group">
            <h3>
              <div class="col-md-2" translate>
                Rechnung
                <span role="button" ng-if="rechnung.fileStoreId">
                  <i ng-hide="isDownloading" ng-click="downloadRechnung()" class="fa fa-file-pdf-o" aria-hidden="true"></i>
                  <i ng-show="isDownloading" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
                </span>
              </div>
              <div class="col-md-10">
                <div class="btn-group pull-right" role="group">
                  <oo-actions-button model="rechnung" form="rechnungForm" entity="Rechnung" actions="actions" on-created="created">{{rechnungBezeichnung() || 'Rechnung'|translate}}</oo-actions-button>
                  <oo-delete-button ng-if="isDeletable()" model="rechnung" entity="Rechnung" on-delete="delete" on-deleted="backToList"></oo-delete-button>
                </div>
              </div>
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title"><span class="navbar-brand" translate>Rechnungsadresse</span></h3>
            </div>
            <div class="panel-body">
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="Kunde" translate>Kunde</label>
                </div>
                <div ng-if="isExisting()" class="col-md-4">
                  <input type="text" class="form-control" id="kunde" disabled="true" value="{{rechnung.kunde.bezeichnung}}">
                </div>
                <div ng-if="!isExisting()" class="col-md-4">
                  <input type="text" ng-model="kunde" placeholder="Kunde suchen..." uib-typeahead="kunde as kunde.bezeichnung for kunde in getKunden($viewValue)" typeahead-loading="loadingKunden" typeahead-no-results="noResults" class="form-control" typeahead-on-select="loadKunde()" required>
                  <i ng-show="loadingKunden" class="glyphicon glyphicon-refresh"></i>
                  <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> <span translate>Keine Kunden</span>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="abo" translate>Abo</label>
                </div>
                <div class="col-md-8">
                  <input type="text" name="abo" ng-model="aboId" hidden required />
                  <oo-dropdown ng-if="!isExisting()" dropdown-id="abo" display-style="uib-dropdown" property="label" selected-prop="id" values="abos" selected="aboId" selection-required="true" selected-function="selectedAbo"></oo-dropdown>
                  <input ng-if="isExisting()" type="text" class="form-control" id="aboLabel" disabled="true" value="{{rechnung.abo.abotypName + ', ' + rechnung.abo.depotName}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="strasse" translate>Kunde Nr.</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="id" ng-model="rechnung.kundeId" disabled="true">
                </div>
              </div>
              <div class="row form-group" ng-if="rechnung.ansprechpersonen.length > 1">
                <div class="col-md-4">
                  <label for="bezeichnung" translate>Anschrift</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="bezeichnung" ng-model="rechnung.bezeichnung" placeholder="{{'Anschrift oder Bezeichnung'|translate}}" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="strasse" translate>Strasse / Nr.</label>
                </div>
                <div class="col-md-6">
                  <input ng-disabled="!canEdit()" type="text" class="form-control" id="strasse" ng-model="rechnung.strasse" ng-required="!rechnung.postfach" placeholder="{{'Strasse'|translate}}" maxlength="30">
                </div>
                <div class="col-md-2">
                  <input ng-disabled="!canEdit()" type="text" class="form-control" id="hausNummer" ng-model="rechnung.hausNummer" placeholder="{{'Nr'|translate}}" maxlength="10">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="adressZusatz" translate>Adresszusatz</label>
                </div>
                <div class="col-md-8">
                  <input ng-disabled="!canEdit()" type="text" class="form-control" name="adressZusatz" ng-model="rechnung.adressZusatz" placeholder="{{'Postfach, c/o, ...'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="plz" translate>PLZ / Ort</label>
                </div>
                <div class="col-md-3">
                  <input ng-disabled="!canEdit()" type="text" pattern="[0-9]{4,5}" class="form-control" id="plz" ng-model="rechnung.plz" required placeholder="{{'PLZ'|translate}}" maxlength="5">
                </div>
                <div class="col-md-5">
                  <input ng-disabled="!canEdit()" type="text" class="form-control" id="ort" ng-model="rechnung.ort" required placeholder="{{'Ort'|translate}}" maxlength="35">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title"><span class="navbar-brand" translate>Rechnungsdaten</span></h3>
            </div>
            <div class="panel-body">
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="status" translate>Status</label>
                </div>
                <div class="col-md-8">
                  <span ng-if="isExisting()" class="badge">{{rechnung.status|translate}}</span>
                  <span ng-if="!isExisting()" class="badge" translate>Neu</span>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="titel" translate>Titel</label>
                </div>
                <div class="col-md-8">
                  <input ng-disabled="isExisting()" type="text" class="form-control" id="titel" ng-model="rechnung.titel" required placeholder="{{'Titel'|translate}}" maxlength="30">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="anzahlLieferungen" translate>Für Anzahl Lieferungen</label>
                </div>
                <div class="col-md-8">
                  <input ng-disabled="!canEdit()" type="number" class="form-control" id="anzahlLieferungen" ng-model="rechnung.anzahlLieferungen" required placeholder="{{'Anzahl Lieferungen'|translate}}">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="betrag" translate>Betrag</label>
                </div>
                <div class="col-md-8">
                  <div class="input-group">
                    <div class="input-group-addon">{{'CHF'|translate}}</div>
                    <input ng-disabled="!canEdit()" type="number" placeholder="{{'Betrag'|translate}}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" step="0.01" class="form-control" name="betrag" ng-model="rechnung.betrag" required></input>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="rechnungsDatum" translate>Rechnungsdatum</label>
                </div>
                <div class="col-md-4">
                  <p class="input-group">
                    <input ng-disabled="isExisting()" type="text" class="form-control input-date" datetime-picker="dd.MM.yyyy" ng-model="rechnung.rechnungsDatum" is-open="open.rechnungsDatum" enable-time="false" max-date="rechnung.rechnungsDatum" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'rechnungsDatum')"><i class="fa fa-calendar"></i></button>
                  </span>
                  </p>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="faelligkeitsDatum" translate>Fälligkeitsdatum</label>
                </div>
                <div class="col-md-4">
                  <p class="input-group">
                    <input ng-disabled="isExisting()" type="text" class="form-control input-date" datetime-picker="dd.MM.yyyy" ng-model="rechnung.faelligkeitsDatum" is-open="open.faelligkeitsDatum" enable-time="false" max-date="rechnung.faelligkeitsDatum" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'faelligkeitsDatum')"><i class="fa fa-calendar"></i></button>
                  </span>
                  </p>
                </div>
              </div>
              <div class="row form-group" ng-show="isVerschickt()">
                <div class="col-md-4">
                  <label for="einbezahlterBetrag" translate>Einbezahlter Betrag</labeln>
                </div>
                <div class="col-md-8">
                  <div class="input-group">
                    <div class="input-group-addon">{{'CHF'|translate}}</div>
                    <input type="number" ng-required="isVerschickt()" placeholder="{{'Einbezahlter Betrag'|translate}}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" step="0.01" class="form-control" name="einbezahlterBetrag" ng-model="rechnung.einbezahlterBetrag"></input>
                  </div>
                </div>
              </div>
              <div class="row form-group" ng-show="isVerschickt()">
                <div class="col-md-4">
                  <label for="eingangsDatum" translate>Eingangsdatum</label>
                </div>
                <div class="col-md-4">
                  <p class="input-group">
                    <input type="text" ng-required="isVerschickt()" class="form-control input-date" datetime-picker="dd.MM.yyyy" ng-model="rechnung.eingangsDatum" is-open="open.eingangsDatum" enable-time="false" max-date="rechnung.eingangsDatum" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'eingangsDatum')"><i class="fa fa-calendar"></i></button>
                  </span>
                  </p>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="referenzNummer" translate>Referenznummer</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="referenzNummer" ng-model="rechnung.referenzNummer" maxlength="27" disabled>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-2">
                  <label for="esrNummer" translate>ESR</label>
                </div>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="esrNummer" ng-model="rechnung.esrNummer" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="content-box col-md-3" ng-if="showGenerateReport">
    <oo-generate-report on-close="closeBericht" on-generated="closeBericht" post-path="'rechnungen/' + rechnung.id + '/berichte/rechnung'" default-file-name="'Rechnung.odt'|translate"></oo-generate-report>
  </div>
</div>
