<div class="row form-group">
  <div class="col-md-12">
    <div class="row form-group">
      <div class="col-md-4">
        <label translate>Abwesenheiten</label>
      </div>
      <div class="col-md-8 dropdown">{{abo.anzahlAbwesenheiten | lastElement:'value'}}<span nf-if="abo.abotyp.anzahlAbwesenheiten > 0"> / {{abo.abotyp.anzahlAbwesenheiten}}</span>
        <div uib-dropdown class="btn-group pull-right" role="group" ng-show="abo.lieferdaten.length > 0">
          <a uib-dropdown-toggle role="button" ng-href="" class="btn btn-default"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> </a>
          <ul uib-dropdown-menu role="menu" class="dropdown-form">
            <li role="menuitem" ng-repeat="lieferdat in abo.lieferdaten | notIn:'id':abwesenheitsDaten()"><a href="" ng-click="addAbwesenheit(lieferdat)">{{lieferdat.datum | date: 'EEE, dd.MM.yyyy'}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
          <script type="text/ng-template" id="removePagerRow.html">
            <!-- nothing -->
          </script>
          <script type="text/ng-template" id="headerSwitch.html">
          <span class="pull-right">
            <input bs-switch
              ng-model="showAllAbwesenheiten"
              type="checkbox"
              switch-size="mini"
              switch-animate="true"
              switch-on-text="{{'alle' | translate}}"
              switch-off-text="{{'pendente' | translate}}"
              switch-icon="fa fa-history">
            </span>
          </script>
          {{$data}}
        <table ng-table="abwesenheitenTableParams" class="table table-striped" show-filter="false" template-pagination="removePagerRow.html">
            <tr ng-repeat="abw in $data | filter:(showAllAbwesenheiten || '') && {abw: {lieferung : {status: 'Offen'}}} | orderBy:'datum'">
              <td data-title="'Datum'|translate">
                {{abw.datum|date:"EEE, dd.MM.yyyy"}}
              </td>
              <td data-title="'Bemerkung'|translate">
                <i ng-if="abw.bemerkung"  class="fa fa-info-circle" aria-hidden="true" uib-tooltip="{{abw.bemerkung}}" tooltip-popup-close-delay="500"></i>
              </td>
              <td header="'headerSwitch.html'">
                <span  class="pull-right">
                  <a href="" ng-hide="deletingAbwesenheit(abw)" ng-click="deleteAbwesenheit(abw)" ng-if="isLieferungOpen(abw)"><i class="glyphicon glyphicon-remove"></i></a>
                  <i ng-show="deletingAbwesenheit(abw)" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
                </span>
              </td>
            </tr>
          </table>
          <span class="pull-right" ng-show="showLoading()"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i></span>
        </div>
      </div>
  </div>
</div>
