<div>
    <div class="row form-group">
      <div class="col-md-6">
        <label translate>Abwesenheiten</label>
      </div>
      <div class="col-md-6">
        <div class="dropdown">
          <span>{{getCurrentAbsences()}}<span ng-if="abo.abotyp.anzahlAbwesenheiten > 0"> / {{abo.abotyp.anzahlAbwesenheiten}}</span></span>
          <span class="fa fa-info-circle" aria-hidden="true" tooltip-popup-close-delay="500" uib-tooltip-html="getAbwesenheitenTooltip(abo)"></span>
          <div uib-dropdown class="btn-group pull-right" role="group" ng-show="abo.lieferdaten.length > 0">
            <a uib-dropdown-toggle role="button" ng-href="" class="btn btn-default"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> </a>
            <ul uib-dropdown-menu role="menu" class="dropdown-form">
              <li role="menuitem" ng-repeat="lieferdat in abo.lieferdaten | notIn:'id':abwesenheitsDaten() | dateRange:date:abo.ende:'datum'"><a href="" ng-click="addAbwesenheit(lieferdat)">{{lieferdat.datum | date: 'EEE, dd.MM.yyyy'}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
          <script type="text/ng-template" id="scripts/common/ngtable/oo-ngtable-noPaginationTemplate.html">
            <!-- nothing -->
          </script>
          <script type="text/ng-template" id="headerSwitch.html">
          <span class="pull-right">
            <input bs-switch ng-model="templateObject.showOnlyPending" type="checkbox" switch-size="mini"
              switch-animate="true" switch-off-text="{{'alle' | translate}}" switch-on-text="{{'pendente' | translate}}" ng-true-value="true" ng-false-value="false" switch-icon="fa fa-history">
            </span>
          </script>
          <table ng-table="abwesenheitenTableParams" class="table table-striped" show-filter="false" template-pagination="scripts/common/ngtable/oo-ngtable-noPaginationTemplate.html">
            <tr ng-repeat="abw in $data | filter:(templateObject.showOnlyPending || '') && filterIfLieferungOpen | orderBy:'-datum'">
              <td data-title="'Datum'|translate">
                {{abw.datum|date:"EEE, dd.MM.yyyy"}}
                <i ng-if="abw.bemerkung"  class="fa fa-info-circle" aria-hidden="true" uib-tooltip="{{abw.bemerkung}}" tooltip-popup-close-delay="500"></i>
              </td>
              <td header="'headerSwitch.html'">
                <span  class="pull-right">
                  <a href="" ng-if="isLieferungOpen(abw)" ng-hide="deletingAbwesenheit(abw)" ng-click="deleteAbwesenheit(abw)"><i class="glyphicon glyphicon-remove"></i></a>
                  <i ng-show="deletingAbwesenheit(abw)" ng-cloak class="fa fa-circle-o-notch fa-spin"></i>
                </span>
              </td>
            </tr>
          </table>
          <span class="pull-right" ng-show="showLoading()"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i></span>
        </div>
      </div>
</div>
