<div class="row">
<div class="content content-box col-md-9">
  <div oo-error-overlay></div>
  <h1 translate>Personen <a role="button" href="#/personen/new" class="btn btn-primary pull-right" translate>Neue Person erfassen</a></h1>
  <div class="filters">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <span>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="{{'Volltextsuche...'|translate}}" ng-model="search.query">
              </div>
            </form>
          </ul>
        </span>
      </div>
    </nav>
  </div>
  <div ng-hide="entries">
    <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
  </div>
  <div ng-show="entries">
    <table ng-table="tableParams" class="table table-striped" show-filter="{{showFilter && hasData()}}">
      <tr ng-repeat="person in $data">
        <td title="'Vorname'|translate" sortable="'vorname'">
          <a ng-href="#/personen/{{person.id}}">{{person.vorname}}</a>
        </td>
        <td title="'Name'|translate" sortable="'name'">
          <a ng-href="#/personen/{{person.id}}">{{person.name}}</a>
        </td>
        <td title="'Strasse'|translate" sortable="'strasse+hausNummer'">
          {{person.strasse}} {{person.hausNummer}}
        </td>
        <td title="'PLZ Ort'|translate" sortable="'plz'">
          {{person.plz}} {{person.ort}}
        </td>
        <td title="'# Abos'|translate" sortable="'anzahlAbos'">
          {{person.anzahlAbos}}
        </td>
        <td data-title="'Typ'|translate" sortable="'typen'" filter="{typen: 'select'}" filter-data="personentypen">
          <span ng-repeat="typ in person.typen" class="badge">
            {{typ|translate}}
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
