<div class="row">
<div class="content content-box col-md-9">
  <div oo-error-overlay></div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3  class="panel-title"><span class="navbar-brand" translate>Kunden</span>
        <form class="navbar-form pull-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{'Suche in Übersicht...'|translate}}" ng-model="search.query">
            <a role="button" href="#/kunden/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> <span translate>Kunde erstellen</span></a>
          </div>
        </form>
      </span>
      </h3>
    </div>
    <div class="panel-body">
      <div ng-hide="entries">
        <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
      </div>
      <div ng-show="entries" id="kundeTable" display-export="true" export-file-name="Kunden">
        <table ng-table="tableParams" class="table table-striped" show-filter="{{showFilter && hasData()}}" template-pagination="scripts/common/ngtable/oo-ngtable-paginationTemplate.html">
          <tr ng-repeat="kunde in $data | filter: search.query.$">
            <td data-title="'Nr.'|translate" sortable="'id'">
              <a ng-href="#/kunden/{{kunde.id}}">{{kunde.id}}</a>
            </td>
            <td data-title="'Bezeichnung'|translate" sortable="'bezeichnung'">
              {{kunde.bezeichnung}}
            </td>
            <td data-title="'Strasse'|translate" sortable="'strasse+hausNummer'">
              {{kunde.strasse}} {{kunde.hausNummer}}
            </td>
            <td data-title="'PLZ Ort'|translate" sortable="'plz'">
              {{kunde.plz}} {{kunde.ort}}
            </td>
            <td data-title="'# Abos'|translate" sortable="'anzahlAbos'">
              {{kunde.anzahlAbos}}
            </td>
            <td data-title="'Typ'|translate" sortable="'typen'" filter="{typen: 'select'}" filter-data="kundentypen">
              <span ng-repeat="typ in kunde.typen" class="badge" ng-if="typ !== ''">
                {{typ|translate}}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
