<div class="row">
<div class="content-box col-md-9 content">
  <div oo-error-overlay></div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3  class="panel-title"><span class="navbar-brand" translate>Depots</span>
        <form class="navbar-form pull-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{'Suche in Übersicht...'|translate}}" ng-model="search.query">
            <a role="button" href="#/depots/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> <span translate>Depot erstellen</span></a>
          </div>
        </form>
      </span>
      </h3>
    </div>
    <div class="panel-body">
      <div ng-hide="entries">
        <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
      </div>
      <div ng-show="entries">
        <table ng-table="tableParams" class="table table-striped">
          <tr ng-repeat="depot in $data | filter: search.query.$ ">
            <td data-title="'Krzz.'|translate" sortable="'kurzzeichen'">
              <a ng-href="#/depots/{{depot.id}}">{{depot.kurzzeichen}}</a>
            </td>
            <td data-title="'Name'|translate" sortable="'name'">
              <a ng-href="#/depots/{{depot.id}}">{{depot.name}}</a>
            </td>
            <td data-title="'Ansprechpartner'|translate" sortable="'apName+apVorname'">
              {{depot.apName}} {{depot.apVorname}}
            </td>
            <td data-title="'AP Tel'|translate" sortable="'apTelefon'">
              <a href="tel:{{depot.apTelefon}}">{{depot.apTelefon}}</a>
            </td>
            <td data-title="'Verantwortliche_r'|translate" sortable="'vName+vVorname'">
              {{depot.vName}} {{depot.vVorname}}
            </td>
            <td data-title="'Ver. Tel'|translate" sortable="'vTelefon'">
              <a href="tel:{{depot.apTelefon}}">{{depot.vTelefon}}</a>
            </td>
            <td data-title="'# Abos'|translate">
              {{depot.anzahlAbonnenten}}<span ng-if="depot.anzahlAbonnentenMax">/</span>{{depot.anzahlAbonnentenMax}}
            </td>
            <td data-title="'Aktiv'|translate" sortable="'aktiv'">
              <i ng-if="depot.aktiv" class="glyphicon glyphicon-ok"></i>
              <i ng-if="!depot.aktiv" class="glyphicon glyphicon-remove"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
