<div class="row">
  <div oo-error-overlay></div>
  <div class="container">
  	<div class="jumbotron">
  	  <h3 translate>Eigenes Passwort wechseln</h3>
  	  <p>
  	  	<div class="container" ng-show="status === 'login'">
          <div class="alert alert-danger" role="alert" ng-if="changePwd.message">{{changePwd.message}}</div>
          <form class="form-signin" name="changePwdForm">
            <div class="form-group">
            	<input type="password" name="oldPassword" class="form-control" placeholder="{{'Aktuelles Passwort' | translate}}" required="true" ng-model="changePwd.alt">
              <div ng-show="changePwdForm.oldPassword.$dirty && changePwdForm.oldPassword.$invalid" ng-messages="changePwdForm.oldPassword.$error">
                <div ng-messages-include="messages.html"></div>
              </div>
            </div>
            <div class="form-group">
            	<input type="password" name="newPassword" class="form-control" placeholder="{{'Neues Passwort' | translate}}"
              required="true" ng-model="changePwd.neu"
              ng-minlength="6" ng-maxlength="50" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
              <div ng-show="changePwdForm.newPassword.$dirty && changePwdForm.newPassword.$invalid" ng-messages="changePwdForm.newPassword.$error">
                <div class="messages">
                    <div ng-message="required" translate>Eingabe erforderlich</div>
                    <div ng-message="minlength" translate>Das Passwort muss aus mindestens 6 Zeichen bestehen</div>
                    <div ng-message="pattern" translate>Das Passwort muss mindestens einen Gross- und Kleinbuchstaben, sowie einen numerischen Wert oder ein Symbol enthalten</div>
                    <div ng-message="ooCompareTo" translate>Passworteingabe stimmt nicht übereint</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="passwortStrength" translate>Passwortstärke</label>
              <div ng-password-strength="changePwd.neu" css-mode="bootstrap" strength="[0-100]" inner-class="progress-bar" inner-class-prefix="progress-bar-"> </div>
            </div>
            <div class="form-group">
            	<input type="password" class="form-control" name="confirmPassword" placeholder="{{'Passwort wiederholen' | translate}}" required="true" ng-model="changePwd.neuConfirmed" oo-compare-to="changePwd.neu">
              <div ng-show="changePwdForm.confirmPassword.$dirty && changePwdForm.confirmPassword.$invalid" ng-messages="changePwdForm.confirmPassword.$error">
                <div class="messages">
                    <div ng-message="required" translate>Eingabe erforderlich</div>
                    <div ng-message="ooCompareTo" translate>Passworteingabe stimmt nicht übereint</div>
                </div>
              </div>
            </div>
            <div class="form-group">
            	<button ng-disabled="changePwdForm.$invalid || env === 'test'" class="btn btn-lg btn-primary" type="submit" ng-click="changePassword()" translate>Passwort wechseln</button>
            </div>
          </form>
  	  	</div>
  	  </p>
  	</div>
  </div>
</div>
