<div class="row">
  <div oo-error-overlay></div>
  <div class="container">
  	<div class="jumbotron">
  	  <h1 translate>Anmeldung
        <small ng-if="env === 'test'">- Testumgebung</small>
        <small ng-if="env === 'dev'" class="">- Entwicklungsumgebung</small>
      </h1>
      <p translate>Für den Zugriff auf die Administrationsumgebung ist eine Anmeldung erforderlich</p>
      <div class="alert alert-info" ng-if="env === 'test' || env === 'dev'" translate>
        Sie befinden sich auf dem OpenOlitor Testsystem. Sie können sich mit den untenstehenden Anmeldeinformationen an der Administrationsumgebung anmelden:
        <br /><br />
        <ul>
          <li>Email: <b>admin@openolitor.ch</b></li>
          <li>Passwort: <b>admin</b></li>
        </ul>
        <br />
        Die Daten in diesem System werden sporadisch auf die Standardwerte zurückgesetzt.
      </div>
  	  <p>
  	  	<div class="container" ng-show="status === 'login'">
          <div class="alert alert-danger" role="alert" ng-if="loginData.message">{{loginData.message}}</div>
          <form class="form-signin" name="loginForm">
        		<div class="form-group">
            	<input type="email" class="form-control" placeholder="{{'Email Adresse' | translate}}" required="true" autofocus="" ng-model="loginData.email" >
            </div>
            <div class="form-group">
            	<input type="password" class="form-control" placeholder="{{'Passwort' | translate}}" required="true" ng-model="loginData.passwort">
            </div>
            <div class="form-group">
            	<button ng-disabled="loginForm.$invalid" class="btn btn-lg btn-primary" type="submit" ng-click="login()" translate>Anmelden</button>
            </div>
          </form>
  	  	</div>

        <div class="container" ng-show="status === 'twoFactor'">
          <div class="alert alert-info" role="alert"><span translate>Es wurde ein Zugangscode an ihre Email-Adresse</span> <b>{{person.email}}</b> <span translate>zugestellt.</span></div>
          <div class="alert alert-danger" role="alert" ng-if="secondFactorForm.message">{{secondFactorForm.message}}</div>
          <form class="form-signin" name="secondFactorForm">
        		<div class="form-group">
            	<input type="text" class="form-control" placeholder="{{'Zugangscode' | translate}}" required="true" autofocus="" ng-model="secondFactorData.code" >
            </div>
            <div class="form-group">
            	<button ng-disabled="secondFactorForm.$invalid" class="btn btn-lg btn-primary" type="submit" ng-click="secondFactorLogin()" translate>Anmelden</button>
            </div>
          </form>
  	  	</div>
  	  </p>
  	</div>
  </div>
</div>
