<div class="row">
  <div class="content content-box col-md-12">
    <div oo-error-overlay></div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title"><span class="navbar-brand" translate>Einkaufsrechnungen</span>
        <form class="navbar-form pull-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{'Suche in Übersicht...'|translate}}" ng-model="search.query">
            <oo-actions-button model="model" actions="actions"></oo-actions-button>
          </div>
        </form></h3>
      </div>
      <div class="panel-body">
        <div ng-hide="entries">
          <p ng-show="loading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></p>
        </div>
        <script type="text/ng-template" id="headerCheckbox.html">
          <input type="checkbox" ng-model="checkboxes.checked" ng-class="checkboxes.css" value="" />
        </script>
        <div ng-show="entries" id="abrechnungenTable" display-export="true" export-file-name="Einkaufsrechnungen" class="horizontal-scroll">
          <table ng-table="tableParams" class="table table-striped" show-filter="{{showFilter && hasData()}}" template-pagination="scripts/common/ngtable/oo-ngtable-paginationTemplate.html">
            {{$data}}
            <tr ng-repeat="bestellung in $data | filter: search.query.$" id="selectedRow_{{bestellung.id}}">
              <td header="'headerCheckbox.html'">
                <input type="checkbox" ng-model="checkboxes.items[bestellung.id]" />
              </td>
              <td data-title="'Nr.'|translate" sortable="'id'">
                <a ng-click="selectBestellung(bestellung, 'selectedRow_' + bestellung.id)">{{bestellung.id}} <i class="fa fa-chevron-right"></i></a>
              </td>
              <td data-title="'Datum'|translate" sortable="'datum'">
                {{bestellung.datum|date:'dd.MM.yyyy'}}
              </td>
              <td data-title="'Produzent'|translate" sortable="'produzentKurzzeichen'" filter="{produzentId: 'select'}" filter-data="produzentL">
                {{bestellung.produzentKurzzeichen}}
              </td>
              <td data-title="'Datum Versendet'|translate" sortable="'datumVersendet'">
                {{bestellung.datumVersendet|date:'dd.MM.yyyy'}}
              </td>
              <td data-title="'Status'|translate" sortable="'status'" filter="{status: 'select'}" filter-data="bestellstatusL">
                {{bestellung.status}}
              </td>
              <td data-title="'Datum Abrechnung'|translate" sortable="'datumAbrechnung'">
                {{bestellung.datumAbrechnung|date:'dd.MM.yyyy'}}
              </td>
              <td data-title="'Total'|translate" sortable="'totalSteuer'">
                {{bestellung.totalSteuer|ooCurrency:true}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <oo-sliding-detail slide-in="selectedBestellung" slide-out-function="unselectBestellungFunct()">
    <oo-bestellung-detail bestellung-id="selectedBestellung.id" projekt="projekt"></oo-bestellung-detail>
  </oo-sliding-detail>
  <oo-sliding-detail slide-in="showCreateAbrechnungDialog" slide-out-function="closeAbrechnungDialogFunct()">
    <oo-bestellungen-abrechnen bestellung-ids="checkboxes.selectedAbgeschlosseneBestellungen" on-close="closeAbrechnungDialog"></oo-bestellungen-abrechnen>
  </oo-sliding-detail>
  <oo-sliding-detail slide-in="showGenerateReport" slide-out-function="closeBerichtFunct()">
    <oo-generate-report on-close="closeBericht" projekt-vorlagen="projektVorlagen()" on-generated="closeBericht" post-path="'lieferanten/sammelbestellungen/berichte/abrechnung'" ids="checkboxes.ids" default-file-name="'Produzentenabrechnung.odt'|translate"></oo-generate-report>
  </oo-sliding-detail>
</div>
